Repository Haivision/srt, pull requests merged in 2019-12, with the labels that each got.

#988 Fixed deprecated option declarations to work in C mode
  examples/recvlive.cpp
  srtcore/srt.h
Labels: Type: Bug, [build]

#989 docs/API: remove duplicate description for SRTO_KMPREANNOUNCE
  docs/API.md
Labels: Type: Bug, [docs]

#995 Fixed: old cmake wrong syntax for MATCH
  CMakeLists.txt
Labels: Priority: Critical, Status: Review Needed, Type: Bug, [build]

#951 [core] Delete hcrypt_xpt_sta.c.
  haicrypt/filelist-gnutls.maf
  haicrypt/filelist-mbedtls.maf
  haicrypt/filelist-openssl.maf
  haicrypt/hcrypt.c
  haicrypt/hcrypt_xpt_sta.c
Labels: Type: Maintenance, [core]

#982 [core] htonl and ntohl moved to CPacket
  srtcore/channel.cpp
  srtcore/packet.cpp
  srtcore/packet.h
Labels: Type: Maintenance, [core]

#1005 Made order in includes
  srtcore/api.cpp
  srtcore/buffer.cpp
  srtcore/cache.cpp
  srtcore/channel.cpp
  srtcore/channel.h
  srtcore/common.cpp
  srtcore/congctl.cpp
  srtcore/core.cpp
  srtcore/crypto.cpp
  srtcore/epoll.cpp
  srtcore/handshake.cpp
  srtcore/list.cpp
  srtcore/packet.cpp
  srtcore/packet.h
  srtcore/platform_sys.h
  srtcore/queue.cpp
  srtcore/srt_c_api.cpp
  srtcore/srt_compat.h
  srtcore/window.cpp
Labels: Priority: High, Status: Review Needed, Type: Maintenance, [core], [platform]

#1010 [core] Crypto: Reset the passphrase in memory on destruction for security reasons
  srtcore/crypto.cpp
Labels: Priority: High, Status: Review Needed, Type: Bug, [core]

#1011 Added checks around CC
  srtcore/congctl.cpp
  srtcore/congctl.h
  srtcore/core.cpp
  srtcore/core.h
Labels: Priority: High, Status: Review Needed, Type: Maintenance, [core]

#970 Added binding a socket used for multicast to the adapter address, if adapter was specified
  apps/transmitmedia.cpp
  docs/stransmit.md
  testing/testmedia.cpp
Labels: Priority: Medium, Status: Review Needed, Type: Bug, [apps]

#1006 Improvements and fixes in sockaddr_any
  srtcore/netinet_any.h
Labels: Priority: High, Status: Review Needed, Type: Maintenance, [core]

#1020 Added fixes for assignment copy compliance
  srtcore/common.cpp
  srtcore/congctl.h
  srtcore/udt.h
  testing/testmedia.cpp
Labels: Priority: High, Status: Review Needed, Type: Bug, [core]

#979 Added SonarCloud integration
  .travis.yml
  scripts/collect-gcov.sh
  sonar-project.properties
Labels: Type: Enhancement, [build]

#1022 Fixed initialization in LogConfig
  srtcore/logging.h
Labels: Priority: High, Status: Review Needed, Type: Bug, [core]

#1027 Fixed: attribute syntax for C++11 and higher
  examples/recvlive.cpp
  examples/test-c-client.c
  srtcore/channel.cpp
  srtcore/crypto.cpp
  srtcore/srt.h
Labels: Priority: High, Status: Review Needed, Type: Bug, [core], [interop]

#1030 [core] Fixed frequency of timers checking
  srtcore/queue.cpp
Labels: Priority: Critical, Type: Bug, [core]

#1025 [build] clang format short func alignment
  .clang-format
Labels: Type: Maintenance, [devel]

#1023 Fixes for CUDTException class. Derived from exception, moved out of the API.
  apps/transmitmedia.cpp
  apps/transmitmedia.hpp
  srtcore/api.cpp
  srtcore/common.cpp
  srtcore/common.h
  srtcore/udt.h
  srtcore/utilities.h
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Priority: Low, Status: Review Needed, Type: Maintenance, [core]

#1036 [core] Fixed CBytePerfMon typedef in udt.h
  srtcore/udt.h
Labels: Priority: Medium, Type: Bug, [core]
