Repository Haivision/srt, pull requests merged in 2019-11, with the labels that each got.

#639 Set metadata in SRT DLL on Windows
  .appveyor.yml
  CMakeLists.txt
  scripts/haiUtil.cmake
  scripts/set-version-metadata.ps1
  srtcore/filelist.maf
  srtcore/srt_shared.rc
  srtcore/version.h.in
Labels: Status: Completed, Type: Maintenance, [build]

#320 Added more logging around delivery
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/channel.cpp
  srtcore/core.cpp
  srtcore/epoll.cpp
  srtcore/epoll.h
  srtcore/logging.h
Labels: Priority: Low, Status: On Hold, Type: Maintenance, [core]

#936 [core] Use busy wait only to refine below 1 ms.
  srtcore/common.cpp
  srtcore/common.h
Labels: Type: Maintenance, [core]

#942 [core] Use monotonic clock in CTimer::sleepto()
  srtcore/common.cpp
Labels: Type: Maintenance, [core]

#932 [docs] Add short description of access control.
  docs/AccessControl.md
Labels: Status: Completed, [docs]

#886 Added description for build options.
  CMakeLists.txt
  README.md
  configure-data.tcl
  docs/BuildOptions.md
Labels: Status: Completed, Status: Review Needed, [docs]

#860 Updated options recommendation info
  docs/API.md
Labels: Status: Completed, Type: Maintenance, [docs]

#948 Added initialization to a debug-tracing variable
  srtcore/epoll.cpp
Labels: Priority: Critical, Status: Completed, Type: Bug, [core]

#950 [core] Fixed repeated use of countBytes
  srtcore/buffer.cpp
Labels: Priority: High, Status: Completed, Type: Bug, [core]

#953 Added lacking IF_HEAVY_LOGGING for logging off. Removed duplicated def
  srtcore/buffer.cpp
  srtcore/logging.h
Labels: Status: Review Needed, Type: Bug, [core]

#952 [core] Minor CTimer::sleepto improvement
  srtcore/common.cpp
Labels: Status: Completed, Type: Maintenance, [core]

#938 Fixed BW measurement. Prevented from measuring between non-monotonic or rexmitted packets.
  srtcore/core.cpp
  srtcore/window.h
Labels: Priority: Medium, Status: Completed, Type: Maintenance, [core]

#954 [build] Travis now has -DENABLE_LOGGING=OFF
  .travis.yml
Labels: [build]

#949 Created issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: [docs]

#955 [build] Fixed env in travis
  .travis.yml
Labels: Type: Bug, [build]

#960 [build] Removed version.h direct include
  CMakeLists.txt
  srtcore/filelist.maf
Labels: Status: Completed, Type: Bug, [build], [platform]

#935 [apps] Fix broken TcpMedium of srt-tunnel in windows
  apps/srt-tunnel.cpp
Labels: Priority: High, Status: Fixing After Review, Type: Bug, [apps], [platform]

#959 [core] Separated CC log area
  apps/logsupport.cpp
  srtcore/congctl.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/srt.h
Labels: Type: Maintenance, [core]

#961 [core] Improved periodic NAK report timing
  srtcore/core.cpp
Labels: Status: Completed, Type: Maintenance, [core]

#965 Fixed bug: vertical FEC/CTL packet was missing when both H/V were to be done
  srtcore/fec.cpp
Labels: Priority: High, Status: Review Needed, Type: Bug, [core]

#980 [core] Catch exception from connect_complete.
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
Labels: Type: Bug, [core]
