Repository Haivision/srt, pull requests merged in 2019-07, with the labels that each got.

#722 Added description of 4 lacking options
  docs/API.md
Labels: Status: Review Needed, [docs]

#730 Synchronize pthread_join on TspPd
  srtcore/core.cpp
Labels: Priority: High, Status: Review Needed, Type: Bug, [core]

#745 [core] Update timers on connection established.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#747 Fix possible FPE (Zero Divide)
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/core.cpp
Labels: Type: Bug, [core]

#736 Add link to SRT Protocol Technical Overview
  README.md
Labels: Status: Completed, [docs]

#742 CRYSPR/4SRT: CRYpto Service PRovider for SRT
  CMakeLists.txt
  haicrypt/cryspr-gnutls.c
  haicrypt/cryspr-gnutls.h
  haicrypt/cryspr-openssl.c
  haicrypt/cryspr-openssl.h
  haicrypt/cryspr.c
  haicrypt/cryspr.h
  haicrypt/filelist-gnutls.maf
  haicrypt/filelist.maf
  haicrypt/haicrypt.h
  haicrypt/hcrypt.c
  haicrypt/hcrypt.h
  haicrypt/hcrypt_ctx.h
  haicrypt/hcrypt_ctx_rx.c
  haicrypt/hcrypt_ctx_tx.c
  haicrypt/hcrypt_rx.c
  haicrypt/hcrypt_sa.c
  haicrypt/hcrypt_tx.c
  srtcore/crypto.cpp
Labels: Priority: High, Status: Completed, Type: Enhancement, [core]

#739 [apps] Fixed timeout mode cancel when target connected
  apps/srt-live-transmit.cpp
Labels: Type: Bug, [apps]

#748 Added mbedtls encryption library choice for haicrypt
  CMakeLists.txt
  configure-data.tcl
  haicrypt/cryspr-config.h
  haicrypt/cryspr-mbedtls.c
  haicrypt/cryspr-mbedtls.h
  haicrypt/cryspr.h
  haicrypt/filelist-mbedtls.maf
  haicrypt/filelist-openssl.maf
  haicrypt/hcrypt_xpt_sta.c
Labels: Status: Completed, [build], [core]

#749 [core] Minor code cleanup in processData()
  srtcore/core.cpp
Labels: Priority: Low, [core]

#743 UriParser improvements
  apps/uriparser.cpp
  apps/uriparser.hpp
Labels: [apps]

#759 [core] MSC C++11 attributes support.
  srtcore/utilities.h
Labels: [core]

#750 New feature: Listener notification callback
  docs/API-functions.md
  docs/API.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  srtcore/utilities.h
  test/filelist.maf
  test/test_listen_callback.cpp
  testing/srt-test-live.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Priority: High, Status: Review Needed, Type: Enhancement, [core]

#741 LATEREXMIT now uses LastACK timer, instead of connection expiration timer
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Bug, [core]

#763 [core] Improved input rate calculation.
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/congctl.cpp
  srtcore/core.cpp
  srtcore/core.h
Labels: [core]

#764 [apps] Added tsbpd URI query option
  apps/socketoptions.hpp
  srtcore/core.cpp
  srtcore/srt.h
Labels: Type: Enhancement, [apps]

#760 [core] MAXBW infinite value updated to 1 Gbps.
  srtcore/common.h
  srtcore/congctl.cpp
  srtcore/core.cpp
Labels: [core]

#770 [core] Fixed HS response timestamp
  srtcore/core.cpp
Labels: Type: Bug, [core]
