Repository Haivision/srt, pull requests merged in 2019-02, with the labels that each got.

#560 [apps] Fixed memory leak in stransmit
  apps/srt-live-transmit.cpp
Labels: Priority: High, Type: Bug, [apps]

#550 Replaced ENABLE_LOGGING with ENABLE_HEAVY_LOGGING
  srtcore/channel.cpp
Labels: Type: Maintenance, [core]

#569 [apps] fixed catching polymorphic type by value
  apps/srt-live-transmit.cpp
  testing/srt-test-live.cpp
Labels: Type: Bug, [apps]

#459 Added information about maximum payload size
  docs/live-streaming.md
Labels: Priority: High, [docs]

#540 Created a detailed documentation for SRT API functions
  docs/API-functions.md
Labels: [docs]

#575 [core] Fixed m_ullTraceRcvBytesLoss clearing
  srtcore/core.cpp
Labels: Priority: Low, Type: Bug, [core]

#576 Putting global objects with short names under a namespace
  apps/logsupport.cpp
  apps/logsupport.hpp
  apps/srt-file-transmit.cpp
  apps/srt-live-transmit.cpp
  apps/srt-multiplex.cpp
  srtcore/api.cpp
  srtcore/buffer.cpp
  srtcore/channel.cpp
  srtcore/common.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  srtcore/crypto.h
  srtcore/logging.h
  srtcore/logging_api.h
  srtcore/packet.cpp
  srtcore/queue.cpp
  srtcore/smoother.cpp
  srtcore/srt_c_api.cpp
  srtcore/udt.h
  testing/srt-test-file.cpp
  testing/srt-test-live.cpp
  testing/srt-test-relay.cpp
Labels: Priority: High, [core]

#551 [apps] Minor fixes of the sample applications.
  apps/transmitmedia.cpp
  testing/testmedia.cpp
Labels: Type: Maintenance, [apps]

#580 Fixed wrong usage of seqcmp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/smoother.cpp
Labels: [core]

#587 [tests] Added tests for CSeqNo
  test/filelist.maf
  test/test_seqno.cpp
Labels: [tests]

#535 Android build scripts for NDK r19
  docs/Android/Compiling.md
  docs/Android/mkall
  docs/Android/mksrt
  docs/Android/mkssl
  docs/Android/mktoolchains
  docs/Android/packjni
  docs/Android/prepare_build
Labels: Priority: High, Status: In Progress, Status: Review Needed, Type: Maintenance

#588 Fix BSD Builds. Builds and the SRT library on FreeBSD-11, TrueOS-12, …
  CMakeLists.txt
  srtcore/epoll.cpp
  srtcore/srt_c_api.cpp
  srtcore/srt_compat.c
Labels: [build]

#589 [core] CUnitQueue access via functions.
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/common.h
  srtcore/queue.cpp
  srtcore/queue.h
Labels: [core]
