Repository Haivision/srt, pull requests merged in 2019-04, with the labels that each got.

#623 Notify epoll the data is available to be read
  srtcore/core.cpp
Labels: Type: Enhancement, [core]

#629 [tests] Fixed strict encryption check for accept in non-blocking mode
  test/test_strict_encription.cpp
Labels: Type: Bug, [tests]

#632 Fixed compilation errors when SRT is configured with --disable-logging option (#616)
  srtcore/common.cpp
  srtcore/crypto.h
Labels: Type: Bug, [core]

#615 Fix static linking error for apps
  CMakeLists.txt
Labels: [build]

#598 [apps] Added CSV stats logging and file output
  apps/apputil.hpp
  apps/socketoptions.hpp
  apps/srt-file-transmit.cpp
  apps/srt-live-transmit.cpp
  apps/transmitbase.hpp
  apps/transmitmedia.cpp
  apps/transmitmedia.hpp
  docs/stransmit.md
  testing/testmedia.cpp
Labels: Type: Enhancement, [apps]

#635 Documentation Corrections
  docs/API.md
  docs/SRT-Multiplex.md
  docs/build_iOS.md
  docs/encryption.md
  docs/live-streaming.md
  docs/stransmit.md
  docs/why-srt-was-created.md
Labels: [docs]

#641 Move ASSERT to guard possibly null pointer access
  haicrypt/hcrypt_tx.c
Labels: [core]

#627 Fixed crash found with non-blocking linger in srt-live-transmit
  apps/srt-live-transmit.cpp
  srtcore/api.cpp
  srtcore/common.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/packet.cpp
  srtcore/queue.cpp
Labels: Type: Bug, [apps]

#640 [core] Not locking m_stats.startTime
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#608 Add SRTO_IPV6ONLY option
  docs/API.md
  srtcore/api.cpp
  srtcore/channel.cpp
  srtcore/channel.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/queue.h
  srtcore/srt.h
Labels: Type: Enhancement, [core]

#649 [apps] UriParser const identifiers added
  apps/uriparser.cpp
  apps/uriparser.hpp
Labels: Type: Maintenance, [apps]

#658 [apps] Fixed srt-file-transit (issue #645)
  apps/srt-file-transmit.cpp
  apps/srt-live-transmit.cpp
  apps/srt-multiplex.cpp
  apps/transmitbase.hpp
  apps/transmitmedia.cpp
  apps/transmitmedia.hpp
Labels: Type: Bug, [apps]

#664 [build] Fixed CMAKE_BUILD_TYPE=Debug processing
  CMakeLists.txt
Labels: [build]

#644 Fixed StreamID and Smoother name swapping for big endian machines
  srtcore/core.cpp
  srtcore/utilities.h
Labels: Type: Bug, [core]

#662 Silencing the queues before closing the UDP socket
  srtcore/api.cpp
  srtcore/queue.h
Labels: [core]
