Repository Haivision/srt, pull requests merged in 2019-10, with the labels that each got.

#888 Prevented 0 pktsInFlight to be used in calculation for loss percentage
  srtcore/congctl.cpp
Labels: Priority: Critical, Status: Review Needed, Type: Bug, [core]

#614 Add 32-bit Windows and consume Pthreads from NuGet
  .appveyor.yml
  CMakeLists.txt
  nuget.config
  scripts/gather-package.bat
Labels: [build]

#897 [docs] Added description of SRT perf statistics
  docs/API-functions.md
  docs/API.md
  docs/statistics.md
  srtcore/core.cpp
Labels: [docs]

#896 move filter fields to end of CBytePerfMon to make CBytePerfMon backwa…
  srtcore/srt.h
Labels: [core]

#890 Improve examples
  docs/stransmit.md
Labels: Status: Fixing After Review, [docs]

#891 [core] Fix crash case in FEC filter
  srtcore/fec.cpp
Labels: Type: Bug, [core]

#913 [core] Fixed checkTimers interval (100ms -> 10 ms)
  srtcore/queue.cpp
Labels: Priority: Medium, Status: Completed, Type: Bug, [core]

#924 Fixed passing a constant set by reference
  srtcore/fec.cpp
  srtcore/fec.h
Labels: Priority: Low, Status: Review Needed, Type: Maintenance, [core]

#904 [core] prevent compile if stack unwinding when exception handling is off in MSVC
  srtcore/api.cpp
Labels: Type: Maintenance, [build]

#914 Fixed some problems reported by gcc 8
  srtcore/api.cpp
  srtcore/utilities.h
Labels: Status: Review Needed, Type: Maintenance, [core], [platform]

#496 Example live receiver
  CMakeLists.txt
  examples/recvlive.cpp
Labels: Priority: Low, Status: On Hold, Type: Enhancement, [apps]

#919 Fixed buggy update_usock
  srtcore/epoll.cpp
  srtcore/epoll.h
Labels: Priority: High, Status: Review Needed, Type: Bug, [core]
