Repository Haivision/srt, pull requests merged in 2019-06, with the labels that each got.

#715 Fixed bug: colon and next arg both eat ARG_ONE argument
  apps/apputil.hpp
Labels: [apps]

#726 - GetSysSocket() was not being properly overridden
  apps/transmitmedia.cpp
Labels: Type: Bug, [apps]

#725 Remove legacy references to stransmit
  apps/srt-live-transmit.cpp
  docs/live-streaming.md
  examples/suflip.cpp
  scripts/srt-ffplay
  srt-ffplay
  testing/srt-test-live.cpp
Labels: Status: Completed, Type: Maintenance, [docs]

#719 Add option for configuring connection response timeout
  apps/socketoptions.hpp
  docs/API.md
  srtcore/core.cpp
  srtcore/core.h
  srtcore/srt.h
Labels: Type: Enhancement, [core]

#718 Changed srt-multiplex to a testing application
  ATTIC/srt-multiplex.cpp
  CMakeLists.txt
  docs/SRT-Multiplex.md
  testing/srt-test-multiplex.cpp
  testing/srt-test-multiplex.maf
Labels: [apps]

#717 [tests] Improved epoll connection break test
  test/test_epoll.cpp
Labels: [tests]

#712 [apps] Added linger URI socket option
  apps/socketoptions.cpp
  apps/socketoptions.hpp
Labels: [apps]

#705 [core] FileCC minor code improvements.
  srtcore/congctl.cpp
Labels: [core]

#471 Fix a problem when a connection is rejected when the last handshake was missed
  CMakeLists.txt
  apps/logsupport.cpp
  apps/logsupport.hpp
  apps/socketoptions.cpp
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/queue.cpp
  srtcore/utilities.h
  testing/srt-test-relay.cpp
  testing/testmedia.cpp
Labels: Priority: High, Status: Completed, Type: Bug, [core]

#734 Fixed after renaming logging to srt_logging
  haicrypt/haicrypt_log.cpp
Labels: Status: Review Needed, Type: Bug, [core]
