Repository Haivision/srt, pull requests merged in 2019-05, with the labels that each got.

#504 Created TCP/SRT tunnel
  CMakeLists.txt
  apps/logsupport.cpp
  apps/logsupport.hpp
  apps/socketoptions.cpp
  apps/srt-tunnel.cpp
  docs/srt-tunnel.md
  scripts/haiUtil.cmake
  scripts/tcp-echo-client.tcl
  scripts/tcp-echo-server.tcl
  srtcore/core.cpp
  srtcore/utilities.h
  testing/srt-test-relay.cpp
  testing/testmedia.cpp
Labels: Priority: High, Status: Completed, [apps], [core]

#351 Added and updated handshake description
  docs/handshake.md
Labels: Priority: High, Status: In Progress, Status: Revision Needed, [docs]

#690 [core] Fixed packet retransmission
  srtcore/core.cpp
  srtcore/core.h
Labels: [core]

#676 Set IPv4 TOS and TTL for accepted IPv4 socket of IPv4mapped-IPv6
  srtcore/channel.cpp
  srtcore/core.cpp
Labels: [core]

#670 Introduced ENABLE_ENCRYPTION flag, ON by default.
  CMakeLists.txt
  configure-data.tcl
  srtcore/core.cpp
  srtcore/crypto.cpp
  srtcore/crypto.h
  test/test_strict_encription.cpp
Labels: [core]

#699 [apps] Fixing space char handling in ProcessOptions
  apps/apputil.hpp
Labels: Type: Bug, [apps]

#648 Replaced 'Smoother' name in the whole sources
  apps/socketoptions.hpp
  docs/API.md
  srtcore/common.cpp
  srtcore/congctl.cpp
  srtcore/congctl.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/filelist.maf
  srtcore/handshake.h
  srtcore/srt.h
Labels: [core]

#706 [tests] Added epoll NotifyConnectionBreak test
  test/test_epoll.cpp
Labels: [tests]

#709 [apps] Fixed unused variable
  apps/srt-multiplex.cpp
Labels: [apps]
