Repository Haivision/srt, pull requests merged in 2019-03, with the labels that each got.

#555 Formatting srt.h. Extern keyword deleted (default).
  srtcore/srt.h
  srtcore/srt_c_api.cpp
Labels: Type: Maintenance

#597 [apps] Receive the connection event on the client (caller) socket
  apps/srt-live-transmit.cpp
Labels: [apps]

#570 srt-live-transmit: add option to cancel timeout
  apps/srt-live-transmit.cpp
Labels: [apps]

#605 fix empty condition in CEPoll::wait
  srtcore/epoll.cpp
Labels: Type: Bug, [core]

#602 Added documentation for srt-multiplex
  docs/SRT-Multiplex.md
Labels: [docs]

#276 C examples update
  CMakeLists.txt
  examples/recvfile.cpp
  examples/sendfile.cpp
  examples/test-c-client.c
  examples/test-c-server.c
  examples/testcapi-connect.c
Labels: Priority: Low, Status: On Hold, Type: Enhancement

#609 Fixes #601, if it didn't have a connection, it would never sleep. Cau…
  srtcore/epoll.cpp
Labels: [core]

#607 Fix OSX Builds SDK pre 10.8.
  srtcore/channel.cpp
  srtcore/core.cpp
Labels: [core]

#613 Fixed a timestamp of ACKACK control packet.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#625 Fixed epoll connection issue.
  apps/srt-live-transmit.cpp
Labels: Type: Bug, [apps]

#618 Added NAKREPORT SRTHS flag as per m_bRcvNakreport field
  srtcore/core.cpp
Labels: [core]
