Repository Haivision/srt, pull requests merged in 2019-09, with the labels that each got.

#843 [core] Fixed SRTO_LOSSMAXTTL setting on accepted socket. Fixes #735.
  srtcore/core.cpp
  srtcore/core.h
Labels: Status: Completed, Type: Bug, [core]

#818 [build] First try to find_package pthreads on Win
  CMakeLists.txt
Labels: Status: Completed, Type: Maintenance, [build]

#807 [core] FileCC improvements
  srtcore/congctl.cpp
  srtcore/core.cpp
  srtcore/core.h
Labels: Status: Completed, Type: Maintenance, [core]

#824 srt_c_api: remove duplicate code in srt_epoll_*
  srtcore/srt_c_api.cpp
Labels: Status: Completed, Type: Maintenance, [core]

#851 Fix linger socket option with SRT recommended OFF default
  srtcore/core.cpp
Labels: Status: Review Needed, Type: Maintenance, [core], [docs]

#863 Add badge linking to the Debian Testing package
  README.md
Labels: [docs]

#853 [build] Fixed -std=c++11 flag usage with HAVE_COMPILER_GNU_COMPAT
  CMakeLists.txt
Labels: [build]

#852 {FEC} Random refactoring and small bugfixes during FEC works.
  configure-data.tcl
  docs/API-functions.md
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/channel.cpp
  srtcore/common.h
  srtcore/congctl.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/packet.cpp
  srtcore/packet.h
  srtcore/queue.cpp
  srtcore/utilities.h
  test/test_connection_timeout.cpp
  testing/utility-test.cpp
Labels: Priority: Critical, Status: Review Needed, Type: Maintenance, [build], [core], [docs]

#854 {FEC} Packet filter framework and API
  srtcore/api.cpp
  srtcore/buffer.cpp
  srtcore/channel.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/filelist.maf
  srtcore/handshake.h
  srtcore/packet.cpp
  srtcore/packet.h
  srtcore/packetfilter.cpp
  srtcore/packetfilter.h
  srtcore/packetfilter_api.h
  srtcore/packetfilter_builtin.h
  srtcore/srt.h
Labels: Priority: Critical, Status: Review Needed, Type: Enhancement, [core]

#855 {FEC} Updated existing documents
  docs/API-functions.md
  docs/API.md
  srtcore/common.h
Labels: Priority: Critical, Status: Review Needed, Type: Enhancement, [docs]

#856 {FEC} Added FEC filter
  srtcore/fec.cpp
  srtcore/fec.h
  srtcore/filelist.maf
  srtcore/packetfilter.cpp
  srtcore/packetfilter_builtin.h
Labels: Priority: Critical, Status: Review Needed, Type: Enhancement, [core]

#857 {FEC} Application support
  apps/socketoptions.hpp
  apps/transmitmedia.cpp
  testing/srt-test-live.cpp
  testing/testmedia.cpp
  testing/testmediabase.hpp
Labels: Priority: Critical, Status: Review Needed, Type: Enhancement, [apps]

#858 {FEC} Added unittests
  test/filelist.maf
  test/test_fec_rebuilding.cpp
Labels: Priority: Critical, Status: Review Needed, Type: Enhancement, [tests]

#859 {FEC} Documentation
  docs/images/block-aligned-5rx10c.png
  docs/images/block-aligned.png
  docs/images/non-block-aligned-5rx10c-deleted-packets.png
  docs/images/non-block-aligned-5rx10c.png
  docs/images/non-block-aligned.png
  docs/images/packet-filter-mechanism.png
  docs/images/rebuild-missing-sequence.png
  docs/images/staircase-pattern-5rx10c.png
  docs/packet-filtering-and-fec.md
Labels: Priority: Critical, Status: Review Needed, Type: Enhancement, [docs]

#841 Fix build Linux GLIBC-2.8 and earlier.
  srtcore/utilities.h
Labels: Status: Completed, [platform]

#850 [build] Added gitignore
  .gitignore
Labels: Status: Completed, [build]

#847 Fixed correct description for msgttl
  docs/API-functions.md
  docs/API.md
  srtcore/srt.h
Labels: Priority: Medium, Status: Review Needed, Type: Maintenance, [docs]

#867 [build] Added code coverage option to CMake
  CMakeLists.txt
  configure-data.tcl
Labels: Priority: Low, Status: Review Needed, Type: Enhancement, [build]

#794 CRendezvousQueue::updateConnStatus() may update mismatched connections
  srtcore/queue.cpp
Labels: Status: Completed, [core]

#873 {EPOLL} Updated documentation after adding new API
  docs/API-functions.md
  docs/API.md
Labels: Priority: High, Status: Review Needed, Type: Enhancement, [docs]

#878 Fixed typo of srt_getsndbuffer in API function docs md
  docs/API-functions.md
Labels: [docs]

#874 {EPOLL} Updated unit tests after adding new API
  test/test_epoll.cpp
Labels: Priority: High, Status: Review Needed, Type: Enhancement, [tests]

#845 Updated doc with proper description
  docs/handshake.md
Labels: Status: Review Needed, [docs]

#791 Renamed SRTO_STRICTENC to ...ENFORCEDENCRYPTION. Fixed documentation
  apps/socketoptions.hpp
  docs/API-functions.md
  docs/API.md
  srtcore/core.cpp
  srtcore/srt.h
Labels: Priority: Medium, Status: Completed, Type: Maintenance, [apps], [core], [docs]

#864 Unittest for cryspr methods
  CMakeLists.txt
  haicrypt/cryspr-openssl.c
  haicrypt/cryspr.c
  haicrypt/cryspr.h
  test/filelist.maf
  test/test_cryspr.cpp
Labels: [tests]

#879 [core] Reducing cognitive complexity of updateConnStatus
  srtcore/queue.cpp
Labels: Priority: Low, Type: Maintenance, [core]

#880 Provide smoke test example
  docs/stransmit.md
Labels: [docs]
