Repository Haivision/srt, pull requests merged in 2019-08, with the labels that each got.

#773 [build] Travis MinGW: updated OpenSSL to 1.1.1
  .travis.yml
Labels: [build]

#779 Fix issue#778: removed unnecessary openssl include in a cryspr
  haicrypt/cryspr.c
Labels: Status: Completed, [core]

#790 Fixed buffers avg size calculation
  srtcore/buffer.cpp
Labels: Status: Completed, Type: Bug, [core]

#803 travis: bump up osx_image version to 10.2
  .travis.yml
Labels: [build]

#796 Added a no-op for Windows in BUSY_WAITING mode
  srtcore/common.cpp
Labels: [core]

#792 remove pre-CRYSPR crypto lib wrappers
  haicrypt/filelist-gnutls.maf
  haicrypt/hc_nettle_aes.c
  haicrypt/hc_openssl_aes.c
  haicrypt/hc_openssl_evp_cbc.c
  haicrypt/hc_openssl_evp_ctr.c
  haicrypt/hcrypt-gnutls.c
  haicrypt/hcrypt-gnutls.h
  haicrypt/hcrypt-openssl.h
Labels: [core]

#809 Maintain support for g++ 4.7 with C++11 applications
  apps/srt-tunnel.cpp
  srtcore/utilities.h
Labels: Status: Review Needed, [apps], [build]

#738 [core] Unified strftime usage win/linux
  srtcore/common.cpp
Labels: [core]

#783 CMakeLists.txt: Allow building using gnustl
  CMakeLists.txt
Labels: [build]

#720 Implemented and exposed rejection reason
  docs/API-functions.md
  docs/handshake.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/common.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/handshake.cpp
  srtcore/handshake.h
  srtcore/queue.cpp
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Type: Enhancement, [core]

#822 examples: update test-c-* usage
  examples/test-c-client.c
  examples/test-c-server.c
Labels: [apps]

#819 [docs] StreamID moved to a separate document.
  docs/API.md
  docs/AccessControl.md
Labels: Priority: High, [docs]

#808 close Channel after stopping recv send queues
  srtcore/api.cpp
Labels: Type: Bug, [core]

#812 Fix system priviledged port range, excluding port 1024 that is not reserved
  ATTIC/srt-multiplex.cpp
  apps/transmitmedia.cpp
  examples/suflip.cpp
  testing/srt-test-multiplex.cpp
  testing/testmedia.cpp
Labels: [apps]

#828 [docs] CMake install description
  README.md
Labels: [docs]

#678 Improving sending queue sleepto() accuracy
  srtcore/common.cpp
Labels: [core]

#829 Fixed error reported from bind for valid IN6_ADDR when setting TTL/HOPS or TOS/TCLASS
  srtcore/channel.cpp
  srtcore/channel.h
Labels: [core]

#805 Fix FreeBSD builds where the byte order conversion macros are defined…
  srtcore/utilities.h
Labels: [build]
