Repository Haivision/srt, pull requests merged in 2020-05, with the labels that each got.

#1269 [core] Minor adjustments for sync timing compliance
  srtcore/buffer.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/sync.cpp
  srtcore/sync.h
  srtcore/window.h
Labels: Type: Maintenance, [core]

#1270 [tests] Sync FormatTime test enabled on MacOS
  test/test_sync.cpp
Labels: Type: Maintenance, [tests]

#1271 Demoted too heavy error logs into warnings
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/crypto.cpp
  srtcore/fec.cpp
  srtcore/packet.cpp
Labels: Impact: Low, Priority: Medium, Type: Maintenance, [core]

#1127 Fixed the problem of disbinding order between epoll and corresponding socket/group
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/epoll.cpp
  srtcore/epoll.h
  test/test_epoll.cpp
Labels: Impact: Significant, Priority: Low, Type: Bug, [core]

#1278 Fixed not-read-ready case in srt-live-transmit
  apps/srt-live-transmit.cpp
Labels: Impact: Significant, Priority: Medium, Type: Bug, [apps]

#1280 Fixed suflip app as example.
  CMakeLists.txt
  examples/suflip.cpp
Labels: Impact: Low, Priority: Low, Type: Maintenance, [apps], [build]

#1283 Added unique send/receive stats
  srtcore/core.cpp
  srtcore/core.h
  srtcore/srt.h
Labels: Impact: Significant, Priority: High, Type: Enhancement, [core]

#1284 Added lacking setting back of the size
  srtcore/core.cpp
Labels: Impact: High, Priority: High, Type: Bug, [core]

#1281 [core] Fixed C++11 build (win)
  CMakeLists.txt
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/sync.h
Labels: Type: Maintenance, [core]

#1286 Added support for the new group API
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: Optional, Priority: High, Type: Maintenance, [apps]

#1285 Implemented new Group handshake extension format
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/handshake.h
  srtcore/srt.h
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1290 Fixing documentation bug with FEC example to correct proper URI usage…
  docs/packet-filtering-and-fec.md
Labels: Impact: Low, Priority: High, Type: Bug, [docs]

#1288 Added MinGW warning fixes
  apps/verbose.hpp
  common/win_time.cpp
  srtcore/channel.cpp
  srtcore/epoll.cpp
  test/test_connection_timeout.cpp
  test/test_file_transmission.cpp
  test/test_listen_callback.cpp
Labels: Impact: Low, Priority: Low, Type: Maintenance, [apps], [core]

#1194 Added timeout reason. Updated correctly reject reason on timeout
  docs/API-functions.md
  srtcore/common.cpp
  srtcore/core.cpp
  srtcore/queue.cpp
  srtcore/srt.h
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: Significant, Priority: Medium, Type: Maintenance, [apps], [core]

#1291 Customizable reject reason code
  docs/API-functions.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/common.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/handshake.cpp
  srtcore/handshake.h
  srtcore/queue.cpp
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  testing/srt-test-live.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: Significant, Priority: High, Type: Enhancement, [core]

#1263 [docs] Introduced pktSentUnique, pktRecvUnique socket statistics
  docs/statistics.md
Labels: [docs]

#1293 [core] Fixed drift histogram
  srtcore/buffer.cpp
  srtcore/buffer.h
Labels: Impact: Low, Type: Maintenance, [core]

#1296 [docs] Minor fixes to pktSentUniqueTotal, pktRecvUniqueTotal statistics
  docs/statistics.md
Labels: [docs]

#1222 srt_group_data(..) returns group size even without output array
  docs/API-functions.md
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/srt_c_api.cpp
Labels: Type: Maintenance, [core]

#1294 Extracting group type from the incoming handshake for listener callback
  docs/API.md
  srtcore/core.cpp
  srtcore/core.h
  srtcore/srt.h
  testing/srt-test-live.cpp
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1302 [docs] Added cookbook and RFC links to README
  README.md
Labels: Type: Maintenance, [docs]

#1289 [core] Fixed MAVG msRcvBuf and msSndBuf
  srtcore/buffer.cpp
  srtcore/utilities.h
Labels: Type: Bug, [core]

#1303 Added group support for stats probing
  apps/apputil.cpp
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/core.h
  testing/testmedia.cpp
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1307 [core] Fixed sync C++11 duration from
  srtcore/sync.h
Labels: Type: Bug, [core]

#1304 Fixed some problems about lua dissector
  scripts/srt-dev.lua
Labels: Type: Maintenance, [apps]
