Repository Haivision/srt, pull requests merged in 2020-10, with the labels that each got.

#1587 Add #include <iterator> to compile on Windows VS 14 2015
  apps/logsupport.cpp
Labels: Impact: Low, Priority: High, Type: Bug, [core]

#1596 Readme: Fix cookbook link pointing to threads chapter instead of index page
  README.md
Labels: Type: Bug, [docs]

#1586 docs: INVALID_SOCKET -> SRT_INVALID_SOCK
  docs/API-functions.md
Labels: Type: Bug, [docs]

#1581 [BUG] Fixed: SRTO_MINVERSION didn't cause rejection on too old version
  srtcore/core.cpp
  testing/testmedia.cpp
Labels: Impact: Significant, Type: Bug, [core]

#1589 Fix BSD builds.
  srtcore/platform_sys.h
Labels: Type: Bug, [core]

#1542 Fixed reports from LGTM
  apps/srt-tunnel.cpp
  srtcore/cache.cpp
  srtcore/cache.h
  srtcore/common.h
  srtcore/core.cpp
  srtcore/group.h
  srtcore/packetfilter.h
Labels: Impact: High, Type: Maintenance, [apps], [core]

#1607 [docs] Improved latency description in APISocketOptions
  docs/APISocketOptions.md
Labels: Type: Maintenance, [docs]

#1613 [core] Fixed getFlighSpan function and rexmit bug
  srtcore/buffer.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/list.cpp
  test/test_seqno.cpp
Labels: Type: Bug, [core]

#1617 Added mutex protection and null check for removeFromGroup
  srtcore/api.cpp
Labels: Priority: Critical, Type: Bug, [core]

#1615 [core] SRTO_RETRANSMITALGO becomes readable
  docs/APISocketOptions.md
  srtcore/core.cpp
Labels: Type: Enhancement, [core]

#1616 AppVeyor: Build applications not only in VS 2019 configuration
  .appveyor.yml
Labels: Type: Enhancement, [build]

#1623 [docs] Added lacking description for grpdata field in SRT_MSGCTRL
  docs/API-functions.md
Labels: Type: Maintenance, [docs]

#1629 Fixed race starting and joining TSBPD thread
  srtcore/core.cpp
  srtcore/core.h
Labels: Priority: High, Type: Bug, [core]
