Repository Haivision/srt, pull requests merged in 2020-04, with the labels that each got.

#1216 [docs] Revised accumulated statistics, added summary table
  docs/API-functions.md
  docs/statistics.md
Labels: [docs]

#1228 Fixed tunnel bug: hangup when killing a dead tunnel
  apps/srt-tunnel.cpp
Labels: Impact: Significant, Priority: Low, Type: Bug, [apps]

#1230 Added supplement information for packetfilter option
  docs/API.md
Labels: Impact: Low, Priority: Low, Type: Maintenance, [docs]

#1198 Fixed rendezvous handling in SRT pre-configure
  apps/socketoptions.cpp
  apps/socketoptions.hpp
  apps/transmitmedia.cpp
  srtcore/srt_c_api.cpp
  testing/testmedia.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [apps]

#1231 Fixed correct usage of next-exp in extension loop. Exposed functionality to extract extensions
  srtcore/core.cpp
  srtcore/handshake.h
Labels: Impact: Development, Priority: Low, Type: Maintenance, [core]

#1236 Fixed bug: setting broken flag too early. Breaks too early data transmission
  srtcore/api.cpp
  srtcore/api.h
Labels: Impact: Significant, Priority: Medium, Type: Bug, [core]

#1225 C++11 Threads Part 7: Added CThread Wrapper
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/sync.cpp
  srtcore/sync.h
Labels: Type: Enhancement, [core]

#1240 Replaced single-pass while with if
  srtcore/core.cpp
  srtcore/core.h
Labels: Impact: Low, Priority: Low, Type: Maintenance, [core]

#1241 Broaden Darwin check to include iOS, tvOS and watchOS
  CMakeLists.txt
Labels: Impact: Optional, Priority: Medium, Type: Maintenance, [build]

#1247 [docs] Fixed -s option desc of srt-live-transmit
  docs/srt-live-transmit.md
Labels: Type: Bug, [docs]

#1249 Fixed: copy whole size of the block for an extension
  srtcore/core.cpp
Labels: Impact: Optional, Priority: High, Type: Bug, [core]

#1239 [docs] Added a note on UDP buffer size in srt-live-transmit
  docs/srt-live-transmit.md
Labels: Type: Enhancement, [docs]

#1254 BALANCING GROUPS: pre-refax changes
  srtcore/api.cpp
  srtcore/buffer.cpp
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/packetfilter.cpp
  srtcore/packetfilter_api.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: Low, Priority: Critical, Type: Maintenance, [core]

#1253 [core] Use APIError in more places
  srtcore/api.cpp
  srtcore/core.cpp
Labels: Impact: Low, Type: Maintenance, [core]

#1206 filter for wireshark
  scripts/srt-dev.lua
Labels: Type: Enhancement, [apps]

#1244 [core] Thread-local error for C++11 and pthreads
  srtcore/api.cpp
  srtcore/api.h
  srtcore/sync.cpp
  srtcore/sync.h
  srtcore/sync_cxx11.cpp
Labels: Type: Enhancement, [core]

#1238 Added file transmission test
  test/filelist.maf
  test/test_file_transmission.cpp
Labels: Impact: Optional, Priority: Low, Type: Maintenance, [tests]
