Repository Haivision/srt, pull requests merged in 2020-06, with the labels that each got.

#1320 Removed double underscore in custom identifiers
  apps/apputil.hpp
  apps/logsupport.hpp
  apps/socketoptions.hpp
  apps/transmitbase.hpp
  apps/transmitmedia.hpp
  apps/uriparser.hpp
  apps/verbose.hpp
  common/win/syslog_defs.h
  common/win/wintime.h
  haicrypt/cryspr-config.h
  haicrypt/haicrypt_log.h
  haicrypt/hcrypt.h
  srtcore/api.h
  srtcore/buffer.h
  srtcore/cache.h
  srtcore/channel.cpp
  srtcore/channel.h
  srtcore/common.h
  srtcore/congctl.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.h
  srtcore/epoll.h
  srtcore/fec.h
  srtcore/handshake.h
  srtcore/list.h
  srtcore/logging.h
  srtcore/logging_api.h
  srtcore/netinet_any.h
  srtcore/packet.cpp
  srtcore/packet.h
  srtcore/packetfilter.cpp
  srtcore/packetfilter.h
  srtcore/packetfilter_api.h
  srtcore/packetfilter_builtin.h
  srtcore/platform_sys.h
  srtcore/queue.h
  srtcore/srt.h
  srtcore/srt4udt.h
  srtcore/srt_compat.h
  srtcore/sync.h
  srtcore/threadname.h
  srtcore/udt.h
  srtcore/utilities.h
  srtcore/version.h.in
  srtcore/window.h
  test/test_connection_timeout.cpp
  test/test_fec_rebuilding.cpp
  test/test_file_transmission.cpp
  test/test_listen_callback.cpp
  testing/testmedia.hpp
  testing/testmediabase.hpp
Labels: Impact: Low, Priority: Low, Type: Maintenance, [core]

#1319 Added set_ prefix to write property accessors
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/utilities.h
Labels: Impact: Low, Priority: Medium, Type: Maintenance, [core]

#1316 Fixed typos in doc sources
  docs/API.md
Labels: Impact: Low, Priority: High, Type: Bug, [docs]

#1298 Improved drop stats docs
  docs/API.md
  docs/statistics.md
Labels: Type: Maintenance, [docs]

#1315 Added fixes to prevent crash when close-and-pack
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/core.h
Labels: Impact: High, Priority: High, Type: Bug, [core]

#1317 Fixed: prevent calling swait on an empty epoll
  srtcore/core.cpp
Labels: Impact: Significant, Priority: Low, Type: Bug, [core]

#1312 [docs] Updated Windows build instructions
  README.md
  docs/BuildOptions.md
  docs/build-win.md
Labels: Type: Enhancement, [docs]

#1325 Add methods to parse SRT_CMD_FILTER and SRT_CMD_GROUP
  scripts/srt-dev.lua
Labels: Type: Maintenance, [apps]

#1259 Thread-name stub for non-naming platforms
  srtcore/sync.h
  srtcore/threadname.h
Labels: Impact: Significant, Priority: Low, Type: Maintenance, [core]

#1326 Reworked the structures for config and status for groups
  examples/test-c-client-bonding.c
  examples/test-c-server-bonding.c
  srtcore/api.cpp
  srtcore/api.h
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/netinet_any.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Type: Enhancement, [core]

#1256 Const void cast
  srtcore/api.cpp
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#1327 Fixed the new error reporting from a member connection
  srtcore/api.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [core]

#1330 typo
  examples/recvfile.cpp
Labels: Type: Maintenance, [apps]

#1329 Fixed: exit when media creation failed
  testing/srt-test-live.cpp
Labels: Type: Maintenance, [apps]

#1334 [apps] Fixed bug in srt-file-transmit: setting transtype=file at the right place
  apps/srt-file-transmit.cpp
  apps/uriparser.cpp
  apps/uriparser.hpp
Labels: Impact: Significant, Priority: High, Type: Bug, [apps]

#1338 [core] Fixed error handling for group connections
  srtcore/api.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [core]

#1328 Further fixes for violation of reserved identifiers
  apps/uriparser.hpp
  srtcore/core.cpp
  srtcore/srt.h
  srtcore/sync.h
  srtcore/utilities.h
Labels: Type: Maintenance, [core]

#1314 Added configuration object to group connection structure
  apps/socketoptions.hpp
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1335 [core] Protecting RCV buffer access
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Bug, [core]

#1332 Fixed restrictions on pre-bind only options
  srtcore/core.cpp
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1341 Removed triggerEvents from all cases but after readiness update
  srtcore/buffer.cpp
  srtcore/core.cpp
Labels: Impact: Significant, Priority: Low, Type: Maintenance, [core]

#1343 [core] Minor fix of implicit conversion
  srtcore/core.cpp
  srtcore/sync.h
Labels: Type: Maintenance, [core]

#1347 [core] Clang format on buffer.cpp
  srtcore/buffer.cpp
Labels: Type: Maintenance, [core]

#1349 Fixed bug in fixing seq on activation in rel mode
  srtcore/core.cpp
Labels: Impact: Significant, Priority: Critical, Type: Bug, [core]

#1339 [docs] Updated documentation about group configuration and status functions
  docs/API-functions.md
Labels: Priority: High, Type: Maintenance, [docs]

#1357 [tests] SndLossList: expect result from insert
  test/test_list.cpp
Labels: Type: Maintenance, [tests]

#1356 Improvement in sockaddr_any required for communication with more system functions
  srtcore/netinet_any.h
Labels: Impact: Significant, Type: Maintenance, [core]

#1358 Added support for IPv6 in UriParser
  apps/uriparser.cpp
Labels: Impact: Significant, Type: Enhancement, [apps], [devel]

#1360 Replaced CreateAddrInet with CreateAddr that handles IPv6
  apps/apputil.cpp
  apps/apputil.hpp
  apps/socketoptions.hpp
  apps/srt-tunnel.cpp
  apps/transmitmedia.cpp
  testing/srt-test-live.cpp
  testing/srt-test-mpbond.cpp
  testing/testmedia.cpp
Labels: Impact: Significant, Type: Maintenance, [apps]

#1355 Correctly handle IPv4 connections on IPv6 listener
  srtcore/api.cpp
  srtcore/channel.cpp
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/netinet_any.h
Labels: Impact: High, Priority: High, Type: Bug, [apps], [core]

#1365 Fixed the use of SRT_NO_DEPRECATED
  srtcore/srt.h
Labels: Impact: Optional, Type: Maintenance, [core]

#1366 Moved extra C++ API to srt namespace
  srtcore/api.cpp
  srtcore/udt.h
  testing/srt-test-file.cpp
  testing/srt-test-live.cpp
  testing/srt-test-mpbond.cpp
  testing/srt-test-multiplex.cpp
  testing/testmedia.cpp
Labels: Impact: Low, Priority: Low, Type: Maintenance, [API], [core]

#1300 Added access control public header file.
  docs/AccessControl.md
  srtcore/access_control.h
  srtcore/filelist.maf
Labels: Priority: High, Type: Enhancement, [core]

#1363 Fixed support for configurable C++ standard
  CMakeLists.txt
  configure
Labels: Impact: Significant, Priority: High, Type: Maintenance, [build]

#1372 Fixed IPv6 handling in srt-live-transmit
  apps/transmitmedia.cpp
Labels: Type: Bug, [apps]

#1323 Added a fast-connect-and-close unit test
  test/filelist.maf
  test/test_many_connections.cpp
Labels: Impact: Development, Priority: Low, [tests]

#1346 Appveyor vs2019 static ssl fix
  .appveyor.yml
  CMakeLists.txt
  scripts/build-windows.bat
  scripts/build-windows.ps1
  scripts/gather-package.bat
  scripts/set-version-metadata.ps1
Labels: Type: Maintenance, [build]

#1373 Fixed C++ standard with old cmake and syntax specification
  CMakeLists.txt
  docs/BuildOptions.md
Labels: Type: Maintenance, [build]

#1364 Removed deprecated features from SRT C API
  ATTIC/srt-multiplex.cpp
  CMakeLists.txt
  common/win/ATTIC/winporting.h
  examples/suflip.cpp
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  srtcore/udt.h
Labels: Impact: Significant, Priority: High, Type: Maintenance, [apps], [core]
