Repository Haivision/srt, pull requests merged in 2020-01, with the labels that each got.

#1044 [core] Fixed busy waiting build
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1013 Enhancement in utilities
  srtcore/utilities.h
Labels: Priority: High, Status: Review Needed, Type: Enhancement, [core]

#1046 [core] Fixed next send time (CSndUList)
  srtcore/core.cpp
  srtcore/queue.cpp
Labels: Priority: Critical, Type: Bug, [core]

#1048 Renamed CUDTUnited::m_ControlLock
  srtcore/api.cpp
  srtcore/api.h
Labels: Type: Maintenance, [core]

#1014 Application improvements
  apps/apputil.cpp
  apps/apputil.hpp
  apps/socketoptions.cpp
  apps/srt-file-transmit.cpp
  apps/srt-live-transmit.cpp
  apps/srt-tunnel.cpp
  apps/transmitbase.hpp
  apps/transmitmedia.cpp
  apps/verbose.hpp
  testing/srt-test-file.cpp
  testing/srt-test-live.cpp
  testing/srt-test-multiplex.cpp
  testing/srt-test-relay.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Priority: High, Status: Review Needed, Type: Maintenance, [apps]

#1052 Restore mistakenly removed connection watchdog timer in control packets
  srtcore/core.cpp
Labels: Priority: Critical, Status: Completed, Type: Bug, [core]

#1017 Family-independent sockets
  apps/transmitmedia.cpp
  examples/recvfile.cpp
  examples/recvlive.cpp
  examples/sendfile.cpp
  srtcore/api.cpp
  srtcore/api.h
  srtcore/cache.cpp
  srtcore/cache.h
  srtcore/channel.cpp
  srtcore/channel.h
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/netinet_any.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  srtcore/udt.h
  test/test_epoll.cpp
  test/test_listen_callback.cpp
  testing/testmedia.cpp
Labels: Priority: High, Status: Review Needed, Type: Enhancement, [core]

#1047 Removed haicrypt_virtual
  CMakeLists.txt
Labels: Impact: Low, Priority: High, Status: Review Needed, Type: Bug, [build]

#1060 Fixed STON definition: removed size_t
  apps/apputil.hpp
Labels: Impact: Low, Priority: Medium, Status: Review Needed, Type: Bug, [apps]

#1062 Added duration formatting and example usage
  srtcore/buffer.cpp
  srtcore/sync.h
Labels: Impact: Low, Priority: High, Status: Review Needed, Type: Maintenance, [core]

#1045 Eliminated ref_t. Some more convention fixes
  apps/srt-file-transmit.cpp
  apps/srt-tunnel.cpp
  apps/transmitmedia.cpp
  apps/transmitmedia.hpp
  srtcore/api.cpp
  srtcore/api.h
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/cache.cpp
  srtcore/channel.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  srtcore/crypto.h
  srtcore/fec.cpp
  srtcore/handshake.cpp
  srtcore/handshake.h
  srtcore/md5.cpp
  srtcore/netinet_any.h
  srtcore/packet.cpp
  srtcore/packetfilter.cpp
  srtcore/packetfilter.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/srt_c_api.cpp
  srtcore/utilities.h
  srtcore/window.h
  testing/srt-test-file.cpp
  testing/srt-test-multiplex.cpp
  testing/srt-test-relay.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: Development, Priority: High, Status: Review Needed, Type: Maintenance, [core]

#1037 Update srt4udt.h
  srtcore/srt4udt.h
Labels: Type: Maintenance, [docs]

#923 Added new test for epoll
  test/test_epoll.cpp
Labels: Priority: High, Status: Review Needed, Type: Maintenance, [tests]

#1065 Removed recommendation for SO_SNDBUF exposed option
  docs/API.md
Labels: Priority: High, Type: Maintenance, [docs]

#1077 Renamed legacy UDT_EPOLL_* symbols
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/epoll.cpp
  srtcore/queue.cpp
Labels: Impact: Low, Priority: High, Type: Maintenance, [core]

#1067 Added CSync class as high level CV wrapper
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/queue.cpp
  srtcore/sync.cpp
  srtcore/sync.h
Labels: Impact: Low, Priority: High, Type: Maintenance, [core]

#1078 Bugfix: close the crypto under correct conditions
  srtcore/core.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [core]

#1053 [build] fix cmake system name Android
  CMakeLists.txt
Labels: Impact: Low, Priority: Medium, Status: In Progress, Type: Maintenance, [build]

#1079 Bugfix: properly handle cases of stale loss report
  srtcore/core.cpp
  srtcore/list.cpp
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1074 Short function replacements
  srtcore/api.cpp
  srtcore/api.h
  srtcore/channel.cpp
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
Labels: Impact: Low, Priority: High, Type: Maintenance, [core]

#1057 Fixed: incorrect waiting for timeout in blocking-but-timeout mode send/receive functions
  srtcore/core.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [core]

#1076 Applied a new way of socket ID generation
  srtcore/api.cpp
  srtcore/api.h
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1075 Added enhancement to API functions
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1084 [core] Fixed rexmit packet time
  srtcore/buffer.cpp
Labels: Priority: Critical, Type: Bug, [core]

#1085 Complementary timeout bugfix for #1057
  srtcore/core.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [core]

#1092 [tests] Added CSndLossList tests
  test/filelist.maf
  test/test_list.cpp
Labels: Type: Enhancement, [tests]

#1086 Epoll improvements necessary for socket groups external implementation
  docs/API-functions.md
  docs/API.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.h
  srtcore/epoll.cpp
  srtcore/epoll.h
  srtcore/srt.h
Labels: Impact: Significant, Priority: High, Type: Enhancement, [core]

#1094 Added circular buffer and its tests (needed for groups)
  srtcore/common.h
  test/filelist.maf
  test/test_utilities.cpp
Labels: Impact: Significant, Priority: High, Type: Enhancement, [core]

#1095 Feature changes in the buffer classes (for groups)
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/core.cpp
  srtcore/core.h
Labels: Impact: Significant, Priority: High, Type: Enhancement, [core]

#1089 Fixed attributes for C++11
  srtcore/srt.h
Labels: Type: Bug, [build]

#1097 Minor refactoring of CSndLossList::insert(...)
  srtcore/list.cpp
  srtcore/list.h
Labels: Type: Maintenance, [core]

#1099 Bugfix: use -1 as no-forced-isn
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/srt_c_api.cpp
Labels: Impact: Significant, Type: Bug, [core]

#1100 Fixed: move tsbpd state setting to correct place
  srtcore/core.cpp
  srtcore/core.h
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1107 Added enhanced allocation functions for CPacket
  srtcore/packet.cpp
  srtcore/packet.h
Labels: Impact: Significant, Priority: High, Type: Enhancement, [core]

#1106 Low impact changes for pre-group lay-ground
  CMakeLists.txt
  apps/uriparser.hpp
  srtcore/api.cpp
  srtcore/buffer.cpp
  srtcore/cache.h
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/epoll.cpp
  srtcore/list.cpp
  srtcore/packet.cpp
  srtcore/packet.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/srt.h
  srtcore/sync.h
  srtcore/threadname.h
  srtcore/udt.h
  srtcore/utilities.h
  test/test_sync.cpp
Labels: Impact: Low, Priority: High, Type: Maintenance, [core]

#1110 [core] Fixed an extra null pointer check before delete
  srtcore/common.h
Labels: Type: Maintenance, [core]
