Repository Haivision/srt, pull requests merged in 2020-07, with the labels that each got.

#1389 Added more checks for torturing test
  test/test_many_connections.cpp
Labels: Type: Maintenance, [tests]

#1401 [core] using the void keyword in function declaration
  srtcore/srt.h
Labels: Type: Maintenance, [core]

#1386 Removed srt4udt.h and moved config items to CMake
  CMakeLists.txt
  srtcore/api.cpp
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/channel.cpp
  srtcore/channel.h
  srtcore/congctl.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/filelist.maf
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/srt.h
  srtcore/srt4udt.h
Labels: Impact: Significant, Type: Maintenance, [build], [core]

#1399 typo
  srtcore/channel.cpp
  srtcore/srt.h
Labels: Type: Maintenance, [core]

#1392 Added support for conditionals in MAF syntax
  CMakeLists.txt
  scripts/haiUtil.cmake
  scripts/maf.vim
  srtcore/filelist.maf
Labels: Type: Maintenance, [build]

#1406 [DEV] Added support for timestamp passing to SRT target in srt-test-live
  testing/srt-test-live.cpp
  testing/srt-test-mpbond.cpp
  testing/srt-test-multiplex.cpp
  testing/srt-test-relay.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
  testing/testmediabase.hpp
Labels: Impact: Development, Priority: Medium, Type: Enhancement, [devel]

#1407 Fixed wrong definition of enum operator that lead to misinterpreting the result and mistaken edge update
  srtcore/epoll.cpp
  srtcore/srt.h
Labels: Impact: High, Priority: Critical, Type: Bug, [core]

#1295 [docs] Introduced groups statistics for Connection Bonding
  docs/statistics.md
Labels: Type: Enhancement, [docs]

#1408 [docs] Replaced CreateAddrInet with CreateAddr
  apps/srt-live-transmit.cpp
  apps/srt-tunnel.cpp
  docs/bonding-intro.md
  testing/srt-test-mpbond.cpp
  testing/srt-test-multiplex.cpp
Labels: Type: Bug, [docs]

#1410 [core]<BUG> Incorrect error check in `fillGroupData` that might lead to clearing a user-provided array pointer
  srtcore/core.cpp
  srtcore/core.h
Labels: Impact: High, Priority: Critical, Type: Bug, [core]

#1391 Added null-check for buffer extraction procedure
  srtcore/buffer.cpp
Labels: Type: Maintenance, [core]

#1385 Fixed and completed type information for socket options
  docs/API.md
Labels: Priority: High, Type: Maintenance, [docs]

#1418 [core] Replaced CGuard with corresponding lock: UniqueLock or ScopedLock
  srtcore/api.cpp
  srtcore/api.h
  srtcore/buffer.cpp
  srtcore/cache.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/epoll.cpp
  srtcore/list.cpp
  srtcore/packetfilter.cpp
  srtcore/queue.cpp
  srtcore/sync.h
  srtcore/window.h
Labels: Type: Maintenance, [core]

#1421 [docs] Access control guidelines: reserve single-character keys
  docs/AccessControl.md
Labels: Type: Enhancement, [docs]

#1412 [core]<BUG> Fixed wrong filling group data
  srtcore/core.cpp
Labels: Impact: High, Priority: Critical, Type: Bug, [core]

#1428 [devel] Fixed epoll-waiting for accept to the right place - in `srt-test-live`
  testing/testmedia.cpp
Labels: Type: Bug, [apps]

#1388 Fixed error reporting on connect/accept.
  docs/API-functions.md
  srtcore/api.cpp
  srtcore/common.cpp
  srtcore/core.cpp
  srtcore/srt.h
Labels: Impact: Significant, Type: Maintenance, [core], [docs]

#1422 [apps] Added source time to sample apps
  apps/srt-file-transmit.cpp
  apps/srt-live-transmit.cpp
  apps/transmitbase.hpp
  apps/transmitmedia.cpp
  apps/transmitmedia.hpp
  docs/srt-live-transmit.md
  testing/srt-test-live.cpp
Labels: Type: Enhancement, [apps]

#1427 [apps] Added buffering command-line option to srt-live-transmit
  apps/srt-live-transmit.cpp
  docs/srt-live-transmit.md
Labels: Type: Enhancement, [apps]
