Repository Haivision/srt, pull requests merged in 2020-09, with the labels that each got.

#1498 Added fixes for failing tests
  test/test_many_connections.cpp
  test/test_sync.cpp
Labels: Type: Maintenance, [tests]

#1508 [tests] CMuxer behavior with IPv4 and IPv6 listeners bound to the same port
  .travis.yml
  test/filelist.maf
  test/test_muxer.cpp
Labels: Type: Enhancement, [tests]

#1492 Added length type wrapper in sockaddr_any for convenience.
  apps/srt-tunnel.cpp
  srtcore/netinet_any.h
  testing/testmedia.cpp
Labels: Impact: Optional, Priority: Low, Type: Enhancement, [apps]

#1516 [apps] Test app fixed group parameter handling
  testing/srt-test-live.cpp
  testing/testmedia.cpp
Labels: Impact: Development, Priority: Critical, Type: Bug, [apps]

#1514 [docs] Added URI query option drifttracer
  docs/srt-live-transmit.md
Labels: Type: Enhancement, [docs]

#1505 Fixed some problems in group code found during review
  docs/API-functions.md
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/group.cpp
  srtcore/group.h
Labels: Impact: High, Type: Maintenance, [core]

#1527 [BUG] Fixed: if all group connection failed, E epoll event should be set on the group
  srtcore/core.cpp
  srtcore/group.cpp
  srtcore/group.h
  srtcore/queue.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: High, Priority: High, Type: Bug, [apps], [core]

#1510 Added modified API.md and new APISocketOptions.md
  docs/API.md
  docs/APISocketOptions.md
Labels: Type: Maintenance, [docs]

#1528 [devel] Fixed crash by having destructor but not copy rules in srt-test-live
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: Development, Impact: Significant, Priority: High, Type: Bug, [apps]

#1465 [core] prevent socket fd leaks to child processes
  srtcore/channel.cpp
Labels: [core]

#1530 [devel] Added verbose to file option
  testing/srt-test-live.cpp
Labels: Impact: Development, Priority: High, Type: Enhancement, [apps]

#1529 [FR] Added retrieving weight setting in group data
  docs/API-functions.md
  srtcore/group.cpp
  srtcore/srt.h
Labels: Impact: Low, Priority: High, Type: Enhancement, [API], [core]

#1534 Fix application specific thread watchdog
  srtcore/core.cpp
  srtcore/group.cpp
  srtcore/queue.cpp
Labels: Type: Maintenance, [core]

#1473 Backup link selection to crop-active improved to find oldest active
  srtcore/core.h
  srtcore/group.cpp
Labels: Impact: Significant, Priority: Low, Type: Maintenance, [core]

#1535 Refax of TestEnforcedEncryption to keep on the stable results
  test/test_enforced_encryption.cpp
Labels: Impact: Development, [tests]

#1537 [core] Added SRTO_ESTINPUTBW option to get estimated input bitrate
  srtcore/core.cpp
  srtcore/core.h
  srtcore/srt.h
Labels: Type: Enhancement, [core]

#1487 Added connection callback, called when the async connection succeeded or failed
  docs/API-functions.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/group.h
  srtcore/queue.cpp
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  test/test_enforced_encryption.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: Significant, Priority: High, Type: Enhancement, [core]

#1544 [BUG] Not adding socket to group when address buffer is not set
  srtcore/api.cpp
Labels: Type: Maintenance, [core]

#1509 Added UPDATE event raised when a member connection broken
  srtcore/api.cpp
  srtcore/api.h
  srtcore/group.cpp
  srtcore/group.h
  testing/testmedia.cpp
Labels: Impact: Significant, Priority: High, Type: Enhancement, [core]

#1553 [BUG] Filling group data now done by a common procedure
  srtcore/group.cpp
  srtcore/group.h
Labels: Impact: High, Priority: Critical, Type: Bug, [core]

#1550 Changed priority rule to higher preferred. Set uint16_t as weight type.
  docs/API-functions.md
  docs/socket-groups.md
  srtcore/api.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/group.h
  srtcore/srt.h
Labels: Priority: High, Type: Maintenance, [core]

#1556 Updated documentation for SRT_EPOLL_UPDATE
  docs/API-functions.md
Labels: [docs]

#1555 [docs] Minor updates to Developers' Guide
  CONTRIBUTING.md
  README.md
  docs/DevelopersGuide.md
Labels: Type: Enhancement, [docs]

#1561 [core] Removed SRTO_ESTINPUTBW
  srtcore/core.cpp
  srtcore/srt.h
Labels: Type: Maintenance, [core]

#1562 [build] Added ENABLE_SOCK_CLOEXEC build option enabled by default
  CMakeLists.txt
  srtcore/channel.cpp
  srtcore/fec.cpp
Labels: Priority: High, Type: Maintenance, [build]

#1565 [MAINT] Set default stability timeout to 80ms
  docs/APISocketOptions.md
  srtcore/core.cpp
  srtcore/core.h
Labels: Priority: High, Type: Maintenance, [core]

#1563 [MAINT] Mark bonding experimental
  CMakeLists.txt
  apps/socketoptions.hpp
  srtcore/api.cpp
  srtcore/api.h
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/filelist.maf
  srtcore/queue.cpp
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  test/filelist.maf
  testing/srt-test-live.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Priority: High, Type: Maintenance, [build]

#1567 [docs] Fixed the 'since v1.5.0' field in the docs
  docs/API-functions.md
  docs/APISocketOptions.md
Labels: Priority: High, Type: Maintenance, [docs]

#1572 Fixes #1571 srt::sync:: namespace qualification for this_thread
  srtcore/api.cpp
  srtcore/queue.cpp
Labels: Type: Bug, [core]

#1573 [BUG] Fixed: all-unstable situation responded with wait-for-ready link caused a hangup
  srtcore/group.cpp
  srtcore/group.h
  testing/srt-test-live.cpp
Labels: Impact: High, Priority: Critical, Type: Bug, [core]

#1554 Changelog generator script for release workflow
  scripts/changelog/README.md
  scripts/changelog/changelog.py
  scripts/changelog/requirements.txt
Labels: Type: Enhancement, [apps]

#1576 [BUG] Fixed incorrectly updated default GROUPSTABTIMEO
  srtcore/group.cpp
Labels: Impact: High, Priority: Critical, Type: Bug, [core]

#1578 [docs] Fixed URI option in srt-live-transmit.md
  docs/srt-live-transmit.md
Labels: Type: Bug, [docs]
