Repository Haivision/srt, pull requests merged in 2020-02, with the labels that each got.

#1112 [docs] Deleted pthreads as git submodule
  README.md
  submodules/pthread-win32/STUB
Labels: Type: Maintenance, [docs]

#1083 Complementary changes for socket groups lay-ground
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  srtcore/sync.h
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1108 Updates to stransmit.md document
  README.md
  docs/srt-live-transmit.md
Labels: Type: Maintenance, [docs]

#1109 Internal structures and basic management for socket groups
  CMakeLists.txt
  srtcore/api.cpp
  srtcore/api.h
  srtcore/buffer.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/epoll.cpp
  srtcore/epoll.h
  srtcore/list.cpp
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  srtcore/sync.h
Labels: Type: Enhancement, [core]

#1116 [core] Minor: pulled processCtrlLossReport() func out
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Maintenance, [core]

#958 Fixed handling of WITH_COMPILER_TYPE to be more flexible
  CMakeLists.txt
  configure
  configure-data.tcl
  docs/BuildOptions.md
  scripts/haiUtil.cmake
  testing/uriparser-test.cpp
  testing/uriparser-test.maf
Labels: Impact: Low, Priority: Low, Status: Review Needed, Type: Maintenance, [build]

#1115 API injections for socket groups
  apps/socketoptions.hpp
  srtcore/api.cpp
  srtcore/api.h
  srtcore/buffer.cpp
  srtcore/common.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/epoll.cpp
  srtcore/srt.h
  srtcore/srt_c_api.cpp
Labels: Impact: High, Priority: High, Type: Enhancement, [core]

#1119 Handshake and internal processing for socket groups
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/handshake.h
  srtcore/packet.cpp
  srtcore/srt.h
Labels: Impact: High, Priority: High, Type: Enhancement, [core]

#1128 Added lacking includes to packetfilter_api.h
  srtcore/packetfilter_api.h
Labels: Impact: Low, Priority: Low, Type: Bug, [core]

#1123 Updated documentation for SRT bonding
  docs/API-functions.md
  docs/API.md
Labels: Priority: High, Type: Maintenance, [docs]

#1124 Added transmission implementation for broadcast type groups
  srtcore/buffer.h
  srtcore/core.cpp
  srtcore/core.h
Labels: Impact: High, Priority: High, Type: Enhancement, [core]

#1133 Fixed <*> case handling in helptext-type-parser and -opt:val case
  apps/apputil.cpp
  testing/srt-test-live.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [core]

#1135 Fixed wrong variadic type detection
  apps/apputil.cpp
Labels: Type: Bug, [apps]

#1141 [core] Changed log level to heavy in CChannel::sendto
  srtcore/channel.cpp
Labels: Impact: Low, Type: Maintenance, [core]

#1137 Changed group API: source per site can be specified
  docs/API-functions.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1139 Application support for socket groups (testing app only)
  testing/srt-test-live.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: High, Priority: High, Type: Enhancement, [apps]

#1145 Bugfix: non-trap 0 value of sched sequence caused ISN override with 0
  srtcore/core.cpp
Labels: Impact: High, Priority: Critical, Type: Bug, [core]

#1147 Enable brew update with macOS builds as a workaround to a TravisCI issue
  .travis.yml
Labels: [build]

#1154 [tests] Fixed enforced ENC blocking mode test
  test/test_enforced_encryption.cpp
Labels: Type: Bug, [tests]

#1152 srt live transmit UDP buffer size config
  apps/transmitmedia.cpp
Labels: Type: Maintenance, [apps]

#1146 Added multipoint-bonding testing application
  CMakeLists.txt
  apps/apputil.cpp
  testing/srt-test-mpbond.cpp
  testing/srt-test-mpbond.maf
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: Development, Priority: Medium, Type: Enhancement, [apps]

#1143 Added test examples for bonding
  CMakeLists.txt
  examples/test-c-client-bonding.c
  examples/test-c-server-bonding.c
Labels: Impact: High, Priority: High, Type: Maintenance, [apps]

#1117 Added short doc about bonding
  docs/bonding-intro.md
Labels: Type: Enhancement, [docs]

#1155 Fixed remaining wrong uses of sequence numbers
  srtcore/core.cpp
  srtcore/core.h
Labels: Impact: Significant, Priority: High, Type: Bug, [core]

#1151 Fixed: UPDATE and ACCEPT cannot be mixed
  srtcore/epoll.cpp
  srtcore/epoll.h
Labels: Impact: Significant, Type: Bug, [core]

#1136 [core] Avoid reporting packets rebuilt by FEC as lost.
  srtcore/fec.cpp
Labels: Impact: Significant, Priority: Medium, Type: Bug, [core]
