Repository Haivision/srt, pull requests merged in 2020-08, with the labels that each got.

#1431 [core] Improved CRcvLossList protection from concurrent access
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1417 [core] Fixed HS tbbpd flags check
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Bug, [core]

#1381 Fixed default binding for IPv6-target rendezvous. Updated documentation.
  apps/transmitmedia.cpp
  docs/srt-live-transmit.md
  srtcore/api.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Impact: Significant, Priority: Medium, Type: Bug, [apps], [core], [docs]

#1426 [core] Fixed data usage in a logging instruction that contradicts the condition
  srtcore/core.cpp
Labels: Impact: Optional, Priority: High, Type: Bug, [core]

#1434 [apps] use the correct length for bind
  apps/srt-tunnel.cpp
Labels: [apps]

#1437 [build] add -h short option support
  configure
Labels: Type: Maintenance, [build]

#1436 Fixed removing sockets from group members' rolled list after parallelly closed.
  srtcore/api.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [core]

#1439 [core] Renamed SRTO_RETRANSMISSSION_ALGORITHM to SRTO_RETRANSMITALGO
  apps/socketoptions.hpp
  docs/API.md
  srtcore/core.cpp
  srtcore/core.h
  srtcore/srt.h
Labels: Type: Maintenance, [API], [core]

#1390 Reordered socket/eid removal on unsubscription
  srtcore/api.cpp
  srtcore/epoll.cpp
Labels: Priority: High, Type: Bug, [core]

#1448 Update group member status basing on packet type
  srtcore/core.cpp
Labels: Impact: High, Priority: High, Type: Bug, [core]

#1438 Pre-initialization of ISN for the group before connecting any socket
  srtcore/core.cpp
  srtcore/core.h
Labels: Impact: Significant, Priority: High, Type: Bug, [core]

#1452 [apps] Fixed TCP ::connect for macOS
  apps/srt-tunnel.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [apps], [platform]

#981 [build] Travis: Build with ninja instead of make on Linux
  .travis.yml
Labels: Type: Enhancement, [build]

#1454 [build] Reverted Ninja build from Travis.
  .travis.yml
Labels: Type: Maintenance, [build]

#1393 Added proper error handling around sync resources
  srtcore/api.cpp
  srtcore/cache.h
  srtcore/core.cpp
  srtcore/epoll.cpp
  srtcore/sync.cpp
  srtcore/window.h
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1449 Fix the activation and stability check criteria
  srtcore/core.cpp
  srtcore/core.h
  srtcore/utilities.h
Labels: Impact: High, Priority: High, Type: Bug, [core]

#1455 Split-off POSIX sync version into a separate file
  srtcore/filelist.maf
  srtcore/sync.cpp
  srtcore/sync.h
  srtcore/sync_posix.cpp
Labels: Impact: Low, Type: Maintenance, [core]

#1379 Rework of C++11 and posix sync
  srtcore/epoll.h
  srtcore/sync.cpp
  srtcore/sync_cxx11.cpp
  srtcore/utilities.h
Labels: Impact: Low, Priority: Medium, Type: Maintenance, [core]

#1463 Fixed after .status was renamed to .sockstate
  docs/bonding-intro.md
Labels: Impact: Low, Priority: High, Type: Bug, [docs]

#1459 Fixed fallback for memory allocation errors
  srtcore/api.cpp
  srtcore/queue.cpp
  srtcore/queue.h
Labels: Impact: Low, Priority: High, Type: Maintenance, [core]

#1359 [core] Fix CSndLossList::insert with negative offset
  srtcore/common.h
  srtcore/list.cpp
  srtcore/list.h
  test/test_list.cpp
Labels: Priority: High, Type: Bug, [core]

#1470 Completed the list of per-member socket options
  srtcore/core.cpp
Labels: Impact: Significant, Priority: High, Type: Maintenance, [API], [core]

#1467 Set the remote address in the group member data for an accepted member socket
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/core.h
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1472 [core] Using sockaddr_any::str()
  apps/srt-tunnel.cpp
  srtcore/api.cpp
  srtcore/api.h
  srtcore/channel.cpp
  srtcore/core.cpp
  srtcore/netinet_any.h
  srtcore/queue.cpp
  test/test_many_connections.cpp
  testing/testmedia.cpp
Labels: Type: Maintenance, [core]

#1477 [core] Removed remaining calls to SockaddrToString
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1203 Added SRTO_BINDTODEVICE option
  CMakeLists.txt
  apps/socketoptions.hpp
  docs/API.md
  srtcore/api.cpp
  srtcore/channel.cpp
  srtcore/channel.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/srt.h
  testing/testmedia.cpp
Labels: Impact: Optional, Type: Enhancement, [core], [docs]

#1453 [apps] Fixed wrong use of sockaddr_any in apps
  apps/logsupport.cpp
  apps/logsupport.hpp
  apps/socketoptions.cpp
  apps/transmitmedia.cpp
  testing/testmedia.cpp
Labels: Impact: Significant, Type: Bug, [apps]

#1475 [docs] Created the Developer's guide
  CONTRIBUTING.md
  README.md
  docs/Developers.md
Labels: Type: Enhancement, [docs]

#1456 Fixed error handling in group connect
  srtcore/api.cpp
  srtcore/api.h
Labels: Impact: Significant, Type: Maintenance, [API], [core]

#1480 Fixed bug: wrong reject reason on async connect
  srtcore/queue.cpp
  testing/testmedia.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [apps], [core]

#1482 Fixed bug: check for IPv4 ONLY if BindToDevice is requested
  srtcore/channel.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [core]

#1474 Improved broken member link detection
  srtcore/core.cpp
Labels: Impact: Significant, Priority: High, Type: Maintenance, [core]

#1485 Fixed bug: merged update/add_usock. usock didn't regard the groups.
  srtcore/api.cpp
  srtcore/api.h
Labels: Impact: Low, Priority: High, Type: Bug, [core]

#1440 High level logger FA definitions
  apps/logsupport.cpp
  apps/logsupport.hpp
  apps/logsupport_appdefs.cpp
  apps/srt-live-transmit.cpp
  apps/support.maf
  scripts/generate-logging-defs.tcl
  srtcore/core.cpp
  srtcore/core.h
  srtcore/filelist.maf
  srtcore/logger_default.cpp
  srtcore/logger_defs.cpp
  srtcore/logger_defs.h
  srtcore/srt.h
  testing/srt-test-file.maf
  testing/srt-test-live.cpp
  testing/srt-test-live.maf
  testing/srt-test-mpbond.maf
  testing/srt-test-multiplex.maf
  testing/srt-test-relay.maf
Labels: Impact: Development, Type: Maintenance, [core]

#1489 [apps] Added absolute time in CSV stats of srt-live-transmit
  apps/apputil.cpp
Labels: Type: Enhancement, [apps]

#1497 Fixed bug: write back actual sending time if no source time supplied
  srtcore/buffer.cpp
  srtcore/buffer.h
Labels: Impact: High, Priority: Critical, Type: Bug, [core]

#1495 Changed generation of the SRT header file FA section
  scripts/generate-logging-defs.tcl
  srtcore/srt.h
Labels: Impact: Significant, Priority: High, Type: Maintenance, [build], [core]

#1484 [core] A workaround for pthread_cancel on Android
  srtcore/sync_posix.cpp
Labels: Type: Bug, [core]

#1496 Created fine-grained FA definitions
  apps/logsupport_appdefs.cpp
  haicrypt/haicrypt_log.cpp
  scripts/generate-logging-defs.tcl
  srtcore/api.cpp
  srtcore/api.h
  srtcore/buffer.cpp
  srtcore/channel.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  srtcore/crypto.h
  srtcore/epoll.cpp
  srtcore/fec.cpp
  srtcore/list.cpp
  srtcore/logger_default.cpp
  srtcore/logger_defs.cpp
  srtcore/logger_defs.h
  srtcore/logging.h
  srtcore/packet.cpp
  srtcore/packetfilter.cpp
  srtcore/queue.cpp
  srtcore/srt.h
  srtcore/sync.cpp
  srtcore/sync_posix.cpp
Labels: Impact: Development, Type: Maintenance, [apps], [core]

#1483 Moved socket group code to separate files
  srtcore/api.h
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/filelist.maf
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Maintenance, [core]

#1423 [docs] Add a full list of URI socket options in srt-live-transmit.md
  docs/API.md
  docs/srt-live-transmit.md
Labels: Type: Enhancement, [docs]

#1494 Added documentation for generated files
  docs/Developers.md
Labels: Priority: High, Type: Maintenance, [docs]

#1500 Fixed bug: finding listener's muxer by port is wrong
  srtcore/api.cpp
  srtcore/api.h
Labels: Impact: Significant, Priority: High, Type: Bug, [core]
