Repository Haivision/srt, pull requests merged in 2020-03, with the labels that each got.

#1161 Test enforced enc tests timing
  test/test_enforced_encryption.cpp
Labels: [tests]

#1165 [tests] Increased connection timeout tolerance
  test/test_connection_timeout.cpp
Labels: [tests]

#1167 BACKUP GROUPS: refactoring changes
  srtcore/api.h
  srtcore/buffer.cpp
  srtcore/cache.h
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/packet.h
  srtcore/window.h
  test/test_enforced_encryption.cpp
Labels: Impact: Low, Type: Maintenance, [core]

#1153 Added accept_bond function for blocking-mode multi-listener accept-waiting
  docs/API-functions.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  testing/srt-test-mpbond.cpp
Labels: Impact: Optional, Priority: Medium, Type: Enhancement, [core]

#1157 Fixing bonding intro doc
  docs/bonding-intro.md
Labels: Type: Maintenance, [docs]

#1149 [core] Introducing sync::CEvent
  srtcore/api.cpp
  srtcore/buffer.cpp
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/epoll.cpp
  srtcore/sync.cpp
  srtcore/sync.h
Labels: Type: Enhancement, [core]

#1160 Added a note in docs regarding accept time and failing accept-timeout tests
  docs/API.md
Labels: Priority: High, Type: Maintenance, [docs]

#1150 Redesigned SRTO_GROUPCONNECT option.
  apps/socketoptions.hpp
  docs/API-functions.md
  docs/API.md
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/core.h
  testing/srt-test-live.cpp
Labels: Impact: High, Priority: High, Type: Maintenance, [core]

#1178 BACKUP GROUPS: Implementation
  apps/socketoptions.hpp
  srtcore/api.cpp
  srtcore/api.h
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  testing/testmedia.hpp
Labels: Impact: High, Priority: Critical, Type: Enhancement, [core]

#1169 BACKUP GROUPS: documentation
  docs/API-functions.md
  docs/API.md
  docs/bonding-intro.md
  docs/socket-groups.md
Labels: Type: Enhancement, [docs]

#1179 BACKUP GROUPS: applications
  CMakeLists.txt
  docs/socket-groups.md
  testing/testmedia.cpp
Labels: Impact: High, Priority: High, Type: Enhancement, [apps]

#1190 Bugfixes for balancing groups
  srtcore/core.cpp
  srtcore/core.h
  srtcore/packet.h
  srtcore/srt_c_api.cpp
Labels: Impact: High, Priority: High, Type: Bug, [core]

#1197 Added constants for "trap" representations for msgno and seqno
  srtcore/api.cpp
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/fec.cpp
  srtcore/list.cpp
  srtcore/list.h
  srtcore/packetfilter.cpp
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  srtcore/window.cpp
  srtcore/window.h
  testing/testmedia.cpp
Labels: Impact: Low, Priority: Medium, Type: Maintenance, [core]

#1196 Minor fixes of typos (exitting -> exiting)
  apps/srt-tunnel.cpp
  examples/test-c-server-bonding.c
  scripts/tcp-echo-client.tcl
  testing/srt-test-live.cpp
  testing/srt-test-relay.cpp
Labels: Type: Maintenance, [apps]

#1205 Minor fixes of typos (permon -> perfmon)
  docs/API-functions.md
  srtcore/srt.h
Labels: Type: Bug, [docs]

#1217 Fix GTest include dirs
  CMakeLists.txt
Labels: Impact: Significant, Priority: Medium, Type: Bug, [build]

#1187 Handle properly LOG FA specification in the test app
  testing/srt-test-live.cpp
Labels: Impact: Significant, Priority: High, Type: Bug, [apps]

#1186 [core] Changed HS Extension Group value to 8
  srtcore/handshake.h
Labels: Type: Maintenance, [core]
