Repository Haivision/srt, pull requests merged in 2020-11, with the labels that each got.

#1636 [docs] Added LGTM badges
  README.md
Labels: Type: Enhancement, [docs]

#1637 [docs] Formatting of APISocketOptions.md
  docs/APISocketOptions.md
Labels: Type: Maintenance, [docs]

#1638 [test] Test apps improvements + build break fixes with logging off
  apps/apputil.cpp
  srtcore/common.cpp
  srtcore/crypto.cpp
  srtcore/crypto.h
  testing/srt-test-live.cpp
  testing/srt-test-mpbond.cpp
  testing/testmedia.cpp
  testing/testmediabase.hpp
Labels: Type: Maintenance, [apps]

#1640 [build] Added codecov test coverage report uploading from CI
  .travis.yml
Labels: Type: Enhancement, [build]

#1644 [apps] CSV stats timepoint now follows ISO 8601 format
  apps/apputil.cpp
Labels: Type: Maintenance, [apps]

#1641 [build] Added LGTM configuration to enable bonding
  .lgtm.yml
Labels: Priority: Low, Type: Maintenance, [build]

#1645 [docs] Added codecov badge
  README.md
Labels: Type: Enhancement, [docs]

#1647 [apps] Fixed logfa handling in srt-live-transmit
  apps/srt-live-transmit.cpp
  docs/srt-live-transmit.md
Labels: Type: Bug, [apps]

#1653 Markdown documentation linting
  docs/bonding-intro.md
  docs/srt-live-transmit.md
Labels: Type: Maintenance, [docs]

#1658 Define OSX if TARGET_OS_OSX for convenience
  CMakeLists.txt
  srtcore/channel.cpp
  srtcore/epoll.cpp
  srtcore/fec.cpp
  srtcore/group.cpp
  srtcore/packetfilter.cpp
  srtcore/platform_sys.h
  srtcore/srt_compat.c
  srtcore/sync.cpp
  srtcore/sync_cxx11.cpp
  srtcore/sync_posix.cpp
Labels: Type: Maintenance, [core]

#1639 [BUG] Fixed async event reporting and mutex lock ordering for groups
  docs/API-functions.md
  docs/LowLevelInfo.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/group.h
  srtcore/queue.cpp
  test/test_bonding.cpp
  testing/testmedia.cpp
Labels: Type: Bug, [core]

#1666 [BUG] Fixed wrong reaction on failure KMREQ and unsafe construction of EventVariant
  srtcore/common.h
  srtcore/core.cpp
Labels: Priority: High, Type: Bug, [core]

#1668 [BUG] Data race when TLPKTDROP while checking loss for ACK candidate
  srtcore/core.cpp
Labels: Priority: High, Type: Bug, [core]

#1669 [core] Fixed some compiler warnings.
  srtcore/api.cpp
  srtcore/congctl.cpp
  srtcore/core.cpp
  test/test_listen_callback.cpp
Labels: Type: Maintenance, [core]

#1673 [core] Fix: check incoming ACK value in case of a rogue peer
  srtcore/core.cpp
Labels: Priority: Critical, Type: Bug, [core]

#1654 [docs] Fixing the android build script
  docs/Android/Compiling.md
  docs/Android/mkall
  docs/Android/mksrt
  docs/Android/mkssl
  docs/Android/packjni
  docs/Android/prepare_build
Labels: [docs]

#1675 [core] CUDTException is no longer exported in DLL
  srtcore/common.h
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#1677 [core] Moved post-hs-update locking code out of mutex; untangled lock order around RIDVector
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/sync.h
  test/test_enforced_encryption.cpp
Labels: Type: Bug, [core]
