Repository Haivision/srt, pull requests merged in 2020-12, with the labels that each got.

#1684 Remove deprecated ANDROID macro
  CMakeLists.txt
  srtcore/platform_sys.h
  srtcore/sync_posix.cpp
Labels: Type: Maintenance, [core]

#1681 [core] A change in setupCC to access CUnitQueue via CRcvQueue instead of CRcvBuffer
  srtcore/buffer.h
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#1683 [core] Fixed clearing errored group in connecting
  srtcore/api.cpp
  srtcore/epoll.cpp
  srtcore/epoll.h
  testing/testmedia.cpp
Labels: Type: Bug, [core]

#1682 [core] Improved RCV-DROPPED log message
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#1687 [core] CheckValidSockets no longer remove sockets from group, this was causing inconsistency.
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Bug, [core]

#1691 [build] Renamed codecov config file
  codecov.yml
Labels: Type: Maintenance, [build]

#1695 [core] Fixed order of group member state change before write ready
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1700 [docs] Reworked API functions document
  docs/API-functions.md
Labels: Type: Maintenance, [docs]

#1650 [core] Fixed a bug that responded a repeated conclusion HS with rejection
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Bug, [core]

#1703 [core] Fixed formal problems detected by clang
  srtcore/common.h
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#1670 [tests] Check IPv6 connection and socket address
  .appveyor.yml
  .github/workflows/cxx11-macos.yaml
  .github/workflows/cxx11-ubuntu.yaml
  .github/workflows/cxx11-win.yaml
  .travis.yml
  CMakeLists.txt
  test/filelist.maf
  test/test_enforced_encryption.cpp
  test/test_epoll.cpp
  test/test_ipv6.cpp
Labels: Type: Enhancement, [tests]

#1699 [core] Minor compiler warning fixes (conversion loss of data)
  srtcore/buffer.cpp
  srtcore/channel.cpp
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  srtcore/packet.h
  srtcore/utilities.h
Labels: Type: Maintenance, [core]

#1705 [apps] Show warning if UDP target is without host
  apps/transmitmedia.cpp
Labels: Type: Maintenance, [apps]

#1701 [docs] Fixed wrong description concerning passphrase
  docs/APISocketOptions.md
  srtcore/srt.h
Labels: Type: Maintenance, [docs]

#1708 [docs] Removed a warning regarding IPv6 usage
  docs/API.md
Labels: Type: Maintenance, [docs]

#1712 [test] Fixed connection timeout test to not reuse broken socket
  test/test_connection_timeout.cpp
Labels: Type: Bug, [tests]

#1713 [core] Minor refactoring of CheckRunningStability
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Maintenance, [core]

#1711 [docs] Updated outdated API info
  docs/API.md
Labels: Type: Maintenance, [docs]

#1680 [core] CSync::wait_until is now mapped to CV::wait_until
  srtcore/core.cpp
  srtcore/sync.h
Labels: Type: Maintenance, [core]

#1696 [core] Refactored member pointer: now raw pointer to socket data
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Maintenance, [core]

#1716 [core] Fixed miscalculations on extreme loss conditions in FEC
  srtcore/fec.cpp
  srtcore/fec.h
  srtcore/packetfilter.cpp
  srtcore/packetfilter_api.h
  test/test_fec_rebuilding.cpp
Labels: Priority: High, Type: Bug, [core]

#1718 [core] Fixes potential exception slipup on memory allocation error
  srtcore/sync_posix.cpp
Labels: Priority: Low, Type: Maintenance, [core]

#1717 Add support to ppc64le
  .travis.yml
Labels: Type: Enhancement, [build]

#1710 [core] Minor warnings fixes (C4267): type conversion with possible loss of data
  srtcore/api.cpp
  srtcore/buffer.cpp
  srtcore/core.cpp
  srtcore/fec.cpp
  srtcore/packet.cpp
  srtcore/packet.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/window.h
Labels: Type: Maintenance, [core]
