Repository Haivision/srt, pull requests merged in 2021-12, with the labels that each got.

#2162 [bug] Fix UDP RCV and SND buffer size settings
  srtcore/channel.cpp
Labels: Type: Bug, [core]

#2196 [core] fix CRcvLossList::m_iTail not reset to -1
  srtcore/list.cpp
Labels: Type: Bug, [core]

#2197 [core] Fix deadlock introduced by CUDTGroup::setOpt()
  srtcore/group.cpp
Labels: Type: Bug, [core]

#2195 [core] make sure data to be inserted into CRcvLossList are monotonic
  srtcore/list.cpp
  srtcore/list.h
Labels: Type: Bug, [core]

#2202 Added support for adapter parameter in caller mode
  apps/transmitmedia.cpp
  testing/testmedia.cpp
Labels: Type: Maintenance, [apps]

#2203 [core] fix recv_WaitForReadReady() return empty
  srtcore/group.cpp
Labels: Type: Bug, [core]

#2204 [core] fix m_GroupOf->updateReadState() in message mode
  srtcore/buffer_rcv.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.h
Labels: Type: Bug, [core]

#2206 [tests] Minor improvement of the TestSocketOptions.StreamIDLenListener.
  test/test_socket_options.cpp
Labels: Type: Maintenance, [tests]

#2208 [core] Fix rtt estimate in bidirectional mode
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2210 [core] Fixed the issue with RTT in case of bidirectional transmission
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2209 [docs] Updated options description for srt-live-transmit
  docs/apps/srt-live-transmit.md
Labels: Type: Maintenance, [docs]

#1950 Fix GC stop handling
  srtcore/api.cpp
Labels: Type: Bug, [core]

#2212 Refactored the core stats structure
  srtcore/common.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/filelist.maf
  srtcore/group.cpp
  srtcore/group.h
  srtcore/packetfilter.cpp
  srtcore/stats.h
Labels: Type: Maintenance, [core]

#2214 [core] Fixed RCV TL drop of packets dropped by SND
  docs/API/statistics.md
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Bug, [core]

#2215 [core] Fixed build with the old RCV buffer
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Bug, [core]
