Repository Haivision/srt, pull requests merged in 2021-10, with the labels that each got.

#2142 Fixed checking the packet seqno validity when reading from a group member
  srtcore/common.h
  srtcore/group.cpp
  test/test_seqno.cpp
Labels: Type: Bug, [core]

#2132 [apps] Print SRT version and clock type
  apps/apputil.cpp
  apps/apputil.hpp
  apps/srt-file-transmit.cpp
  apps/srt-live-transmit.cpp
Labels: Type: Maintenance, [apps]

#2125 [core] Moved SND and RCV buffers into the 'srt' namespace
  srtcore/buffer.cpp
  srtcore/buffer.h
Labels: Type: Maintenance, [core]

#1913 Remove global variable
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/group.h
  srtcore/queue.cpp
  test/test_fec_rebuilding.cpp
Labels: Type: Maintenance, [core]

#2130 Split off stats writter from apputil
  apps/apputil.cpp
  apps/apputil.hpp
  apps/statswriter.cpp
  apps/statswriter.hpp
  apps/support.maf
  apps/transmitbase.hpp
  testing/srt-test-live.maf
  testing/testmedia.hpp
Labels: Type: Maintenance, [apps]
