Repository Haivision/srt, pull requests merged in 2021-01, with the labels that each got.

#1728 [core] fix dllexport of srt_rejectreason_str()
  srtcore/srt.h
Labels: Type: Bug, [core]

#1732 [build] Use Java 11 in Travis
  .travis.yml
Labels: Type: Maintenance, [build]

#1735 [core] Refactoring backup link activation
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Maintenance, [core]

#1652 [core] Run the accept hook before opening caller's socket
  srtcore/api.cpp
Labels: Type: Maintenance, [core]

#1741 [build] Made SRT versioned SO named with major and minor
  CMakeLists.txt
Labels: Type: Maintenance, [build]

#1739 [core] Main-backup: added QualifyMemberStates function
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Maintenance, [core]

#1627 [core] Reimplemented strerror to use static messages
  scripts/generate-error-types.tcl
  srtcore/common.cpp
  srtcore/common.h
  srtcore/filelist.maf
  srtcore/strerror_defs.cpp
Labels: Priority: Medium, Type: Maintenance, [core]

#1733 [core] CSndLossList limits the maximum offset
  srtcore/list.cpp
  test/test_list.cpp
Labels: Type: Bug, [core]

#1740 [core][MAINT] Removed unused and swelling m_pAcceptSockets field + refax
  srtcore/api.cpp
  srtcore/api.h
Labels: Type: Maintenance, [core]

#1745 [tests] Enabled some CSndLossList::insert tests
  test/test_list.cpp
Labels: Type: Maintenance, [tests]

#1748 [build] Fixed PowerShell script to not fail on CMake warning.
  scripts/build-windows.ps1
Labels: Type: Bug, [build]

#1744 [core] Main-backup: renaming member link arrays
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Maintenance, [core]

#1746 [MAINT] Added non-blocking option for bonding examples
  examples/test-c-client-bonding.c
  examples/test-c-server-bonding.c
Labels: Priority: High, Type: Enhancement, [apps]

#1753 [apps] Created an example for non-blocking client
  CMakeLists.txt
  examples/example-client-nonblock.c
Labels: Type: Enhancement, [apps]

#1754 [core] Added socket ID to RCV-DROP log message
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#1751 Splitting sendBackup_CheckParallelLinks(..)
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Maintenance, [core]

#1750 [core] Fixed too early closed caller socket in background.
  docs/API-functions.md
  docs/API.md
  srtcore/queue.cpp
  test/test_connection_timeout.cpp
  test/test_enforced_encryption.cpp
Labels: Type: Maintenance, [core]

#1765 [build] Fixed CMake CMP0048 policy restriction
  CMakeLists.txt
Labels: Type: Maintenance, [build]

#1766 [core] Increased FormatTime precision
  srtcore/sync.cpp
  srtcore/sync.h
  srtcore/sync_cxx11.cpp
  srtcore/sync_posix.cpp
  test/test_sync.cpp
Labels: Type: Maintenance, [core]

#1743 [apps] Refactored stats tables with universal printers
  apps/apputil.cpp
  apps/apputil.hpp
  apps/srt-live-transmit.cpp
  docs/srt-live-transmit.md
  testing/srt-test-live.cpp
Labels: Type: Maintenance, [apps]

#1772 [core] Minor refactoring of backup CheckIdleTime
  srtcore/group.cpp
Labels: Type: Maintenance, [core]

#1771 [apps] Fix virtual destructor for abstract struct SrtStatData
  apps/apputil.cpp
  apps/apputil.hpp
Labels: Type: Bug, [apps]
