Repository Haivision/srt, pull requests merged in 2021-08, with the labels that each got.

#1929 Unit tests for SRT socket options API (WIP)
  docs/API/API-socket-options.md
  test/any.hpp
  test/filelist.maf
  test/test_listen_callback.cpp
  test/test_socket_options.cpp
Labels: Type: Enhancement, [tests]

#2069 [core] Changed the default SRTO_RETRANSMITALGO to 1
  docs/API/API-socket-options.md
  docs/API/API.md
  srtcore/socketconfig.cpp
  srtcore/socketconfig.h
  test/test_socket_options.cpp
Labels: Type: Maintenance, [core]

#2070 Some TSA annotations around CUDT::m_pCryptoControl
  srtcore/core.cpp
  srtcore/core.h
  srtcore/sync.h
Labels: Type: Maintenance, [core]

#2071 Cross-compile android from macOS host
  configure-data.tcl
  scripts/build-android/build-android
  scripts/build-android/mkssl
Labels: Type: Enhancement, [build]

#2075 [core] Check if CryptoControl exists in createSrtHandshake(..).
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2077 [core] Check if socket is still open before replying to HS
  srtcore/core.cpp
  srtcore/queue.cpp
Labels: Type: Bug, [core]

#2082 [core] Prefer the endian.h header file from glibc if available
  srtcore/utilities.h
Labels: Type: Maintenance, [build]

#2084 [tests] Fixed possible TestIPv6 hangups if connection fails
  test/test_ipv6.cpp
Labels: Type: Bug, [tests]

#2083 Rafactoring: CUDTSocket now owns a member CUDT class
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/group.cpp
Labels: Type: Maintenance, [core]

#2086 [tests] Test FileUpload: find unused UDP port
  test/test_file_transmission.cpp
Labels: Type: Maintenance, [tests]

#2080 [docs] Improved a note about srt_recv(..) and payload size
  docs/API/API-functions.md
Labels: Type: Maintenance, [docs]

#2089 [apps] Fixed loop over OptionScheme
  apps/apputil.cpp
  apps/apputil.hpp
Labels: Type: Bug, [apps]

#2088 [build] Default STDCXX_SYNC=ON on Windows, try to use CLOCK_MONOTONIC by default on Linux.
  CMakeLists.txt
  docs/build/build-win.md
  scripts/haiUtil.cmake
Labels: Type: Maintenance, [build]

#2091 Minor improvements: removed redundant srt namespace resolution
  srtcore/core.h
Labels: Type: Maintenance, [core]

#2097 [build] Fixed ENABLE_MONOTONIC_CLOCK=ON when target is Android
  CMakeLists.txt
Labels: Type: Bug, [build]

#2094 [core] Added missing lock for isRcvDataReady()
  srtcore/group.cpp
Labels: Type: Bug, [core]

#2100 Fix Build for Android.
  CMakeLists.txt
Labels: Type: Bug, [build]

#2106 [build] Use lowercase CMAKE_SYSTEM_NAME on Android
  CMakeLists.txt
Labels: Type: Maintenance, [build]
