Repository Haivision/srt, pull requests merged in 2021-04, with the labels that each got.

#1907 [core] SocketData moved to group_common.h (REFAX)
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/filelist.maf
  srtcore/group.cpp
  srtcore/group.h
  srtcore/group_common.cpp
  srtcore/group_common.h
Labels: Type: Maintenance, [core]

#1906 [core] Added SRT_STATIC_ASSERT macro
  srtcore/common.h
Labels: Type: Maintenance, [core]

#1915 [apps] Added CSV and JSON stats
  apps/apputil.cpp
Labels: Type: Maintenance, [apps]

#1914 Fix typos in LowLevelInfo
  docs/LowLevelInfo.md
Labels: Type: Bug, [docs]

#1916 [core] Applied clang-format on buffer.h.
  srtcore/buffer.h
Labels: Type: Maintenance, [core]

#1918 Build Fix.
  srtcore/packetfilter.h
Labels: Type: Bug, [core]

#1927 Moved some code from processCtrl to dedicated functions
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Maintenance, [core]

#1911 [docs] Reorganized and cleaned up the docs folder
  CONTRIBUTING.md
  README.md
  docs/API/API-functions.md
  docs/API/API-socket-options.md
  docs/API/API.md
  docs/API/statistics.md
  docs/README.md
  docs/apps/srt-live-transmit.md
  docs/apps/srt-multiplex.md
  docs/apps/srt-tunnel.md
  docs/build/build-android.md
  docs/build/build-iOS.md
  docs/build/build-options.md
  docs/build/build-win.md
  docs/dev/developers-guide.md
  docs/dev/low-level-info.md
  docs/dev/making-srt-better.md
  docs/features/access-control.md
  docs/features/bonding-intro.md
  docs/features/encryption.md
  docs/features/handshake.md
  docs/features/images/block-aligned-5rx10c.png
  docs/features/images/block-aligned.png
  docs/features/images/non-block-aligned-5rx10c-deleted-packets.png
  docs/features/images/non-block-aligned-5rx10c.png
  docs/features/images/non-block-aligned.png
  docs/features/images/packet-filter-mechanism.png
  docs/features/images/rebuild-missing-sequence.png
  docs/features/images/srt-encryption-1.png
  docs/features/images/srt-encryption-2.png
  docs/features/images/staircase-pattern-5rx10c.png
  docs/features/live-streaming.md
  docs/features/packet-filtering-and-fec.md
  docs/features/socket-groups.md
  docs/gstreamer.md
  docs/misc/images/srt-history-good-signal.png
  docs/misc/images/srt-transmission-bad-signal.png
  docs/misc/why-srt-was-created.md
  scripts/build-android/README.md
  scripts/build-android/mkall
  scripts/build-android/mksrt
  scripts/build-android/mkssl
  scripts/build-android/packjni
  scripts/build-android/prepare_build
  srtcore/api.h
Labels: Type: Enhancement, [docs]

#1922 [core] Fixed SRTO_KM* options setting.
  docs/API/API-socket-options.md
  srtcore/core.cpp
  srtcore/core.h
  srtcore/socketconfig.h
Labels: Type: Bug, [core]

#1923 Fix android build NDK r16b and earlier.
  apps/apputil.hpp
Labels: Type: Bug, [apps]

#1905 [build] Fix pc file generation when use mbedtls
  CMakeLists.txt
Labels: Type: Bug, [build]

#1931 [core] Fixed SRTO_SNDDROPDELAY: use POST restriction
  apps/socketoptions.hpp
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1932 [build] Updated Travis OSX to 11.1
  .travis.yml
Labels: Type: Maintenance, [build]

#1933 [tests] Removed "" _S function.
  test/test_ipv6.cpp
Labels: Type: Maintenance, [tests]

#1935 Fix cmake warning on FindMbedTLS
  scripts/FindMbedTLS.cmake
Labels: Type: Bug, [build]

#1934 [apps] Changed the default log level to Warn
  apps/srt-live-transmit.cpp
  docs/apps/srt-live-transmit.md
Labels: Type: Maintenance, [apps]

#1912 Remove use of CTimer::getTime() which doesn't exist now
  srtcore/buffer.cpp
  srtcore/buffer.h
Labels: Type: Maintenance, [core]

#1928 [core] Minor refactoring during the code studying
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Maintenance, [core]

#1938 Minor cleanup
  srtcore/core.cpp
  srtcore/sync_posix.cpp
Labels: Type: Maintenance, [core]

#1925 Fixing srt_getsockopt for bool socket options
  .travis.yml
  srtcore/core.cpp
  test/test_enforced_encryption.cpp
Labels: Type: Bug, [core]

#1945 Fix build with mbedtls older than 428cc52a73.
  haicrypt/cryspr-mbedtls.h
Labels: Type: Maintenance, [core]

#1940 [core] SRTO_CONGESTION: Check optlen in getsockopt
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#1939 [core] Apply PRE sockopt restriction in listening state
  docs/API/API-socket-options.md
  srtcore/core.cpp
  test/test_fec_rebuilding.cpp
Labels: Type: Maintenance, [core]

#1883 [core] Added more logs around accept errors
  srtcore/api.cpp
Labels: Type: Maintenance, [core]

#1948 [core] Fixed getting SRTO_TLPKTDROP: return config value until connected.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1942 [core] const SrtOptionAction
  srtcore/core.cpp
  srtcore/sync_posix.cpp
Labels: Type: Maintenance, [core]

#1953 [apps] Option utility fix: handle properly single dash as option value
  apps/apputil.cpp
Labels: Type: Bug, [apps]

#1954 [docs] SRTO_MSS: pre-bind restriction instead of pre
  docs/API/API-socket-options.md
Labels: Type: Bug, [docs]

#1955 [core] Removed logging in cleanup
  srtcore/api.cpp
Labels: Type: Bug, [core]

#1941 [docs] API-functions: pass optlen in srt_getsockopt
  docs/API/API-functions.md
  docs/API/API-socket-options.md
Labels: Type: Enhancement, [docs]

#1956 [API] Check invalid sockopt values
  docs/API/API-socket-options.md
  srtcore/socketconfig.h
Labels: Type: Bug, [API]

#1967 Update srt-live-transmit.md
  docs/apps/srt-live-transmit.md
Labels: Type: Maintenance, [docs]

#1887 [core] New API function srt_clock_type()
  docs/API/API-functions.md
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  srtcore/sync.h
Labels: Type: Enhancement, [API], [core]

#1957 [core] Improved RTT estimation
  CMakeLists.txt
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Maintenance, [core]

#1971 [core] Renamed m_iRTT variable to m_iSRTT
  docs/API/statistics.md
  srtcore/cache.cpp
  srtcore/cache.h
  srtcore/common.h
  srtcore/congctl.cpp
  srtcore/congctl.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  srtcore/group.cpp
Labels: Type: Maintenance, [core]

#1973 Fixed nonblocking client example
  examples/example-client-nonblock.c
Labels: Type: Bug, [apps]

#1968 TSBPD logic extracted from CRcvBuffer.
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/core.cpp
  srtcore/filelist.maf
  srtcore/group.cpp
  srtcore/tsbpd_time.cpp
  srtcore/tsbpd_time.h
Labels: Type: Maintenance, [core]
