Repository Haivision/srt, pull requests merged in 2021-06, with the labels that each got.

#2030 Updates for Android build script
  scripts/build-android/build-android
  scripts/build-android/mkmbedtls
  scripts/build-android/mksrt
Labels: Type: Maintenance, [build]

#1863 [core] Added atomic support and marked atomic key fields detected by thread sanitizer
  srtcore/api.cpp
  srtcore/api.h
  srtcore/atomic.h
  srtcore/atomic_msvc.h
  srtcore/congctl.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/sync.h
Labels: Type: Enhancement, [core]

#2026 [core] use seq larger than m_RcvBaseSeqNo to update group readablity
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/core.cpp
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Bug, [core]

#2031 [build] Added compile_commands.json to .gitignore
  .gitignore
Labels: Type: Maintenance, [build]

#2034 [core] Fix build error when -DSRT_DEBUG_TRACE_DRIFT=1
  srtcore/tsbpd_time.cpp
Labels: Type: Bug, [core]

#2033 [core] Fixed skip non-empty data
  srtcore/buffer.cpp
Labels: Type: Bug, [core]

#2035 [docs] Edits for the 'requirements' in ReadMe.md
  README.md
Labels: Type: Maintenance, [docs]

#2037 [test] Added fixes for FEC test occasional failure
  test/test_fec_rebuilding.cpp
Labels: Type: Bug, [tests]

#2038 [apps] Output json stats values as numbers
  apps/apputil.cpp
Labels: Type: Maintenance, [apps]

#2040 [doc] Wrong error code for srt_accept_bond when timed out
  docs/API/API-functions.md
Labels: Type: Bug, [docs]

#2042 [devel] Refactored app support components to make them more reusable
  apps/apputil.hpp
  apps/logsupport.cpp
  apps/logsupport.hpp
  apps/verbose.hpp
  testing/srt-test-live.cpp
  testing/srt-test-relay.cpp
  testing/srt-test-relay.maf
  testing/testactivemedia.cpp
  testing/testactivemedia.hpp
  testing/testmedia.cpp
  testing/testmedia.hpp
  testing/testmediabase.hpp
Labels: Type: Maintenance, [apps]

#2043 [core] Fixed getTsbPdTimeBase: carryover within 2 wrapping periods
  srtcore/tsbpd_time.cpp
Labels: Type: Bug, [core]
