Repository Haivision/srt, pull requests merged in 2021-03, with the labels that each got.

#1828 [core][apps] Fixed restrictions for options and replication in the app array
  apps/socketoptions.hpp
  srtcore/core.cpp
Labels: Priority: High, Type: Maintenance, [apps], [core]

#1841 Fixed bug: wrong size setting for StringStorage. Added UT.
  srtcore/socketconfig.h
  test/test_utilities.cpp
Labels: Priority: Critical, Type: Bug, [core], [tests]

#1839 Removed 'm_' prefix in socket config structs
  srtcore/api.cpp
  srtcore/channel.cpp
  srtcore/congctl.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  srtcore/group.cpp
  srtcore/packetfilter.cpp
  srtcore/queue.cpp
  srtcore/socketconfig.h
Labels: Type: Maintenance, [core]

#1826 [core][tests] Fixed wrong check of common FEC configuration
  docs/APISocketOptions.md
  docs/packet-filtering-and-fec.md
  srtcore/common.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/fec.cpp
  srtcore/fec.h
  srtcore/packetfilter.cpp
  srtcore/packetfilter.h
  srtcore/packetfilter_api.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/socketconfig.h
  test/test_fec_rebuilding.cpp
  testing/testmedia.cpp
Labels: Priority: Critical, Type: Bug, [core], [tests]

#1846 [BUG][core] Unguarded access to epolldesc from group sender code
  srtcore/epoll.cpp
  srtcore/epoll.h
  srtcore/group.cpp
Labels: Priority: High, Type: Bug, [core]

#1843 fix epoll event loss problem
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1849 [core] Fixed: lock around ackmessage
  srtcore/core.cpp
  srtcore/group.cpp
Labels: Type: Bug, [core]

#1851 [docs] Moved SRTO_MININPUTBW in alphabetic order
  docs/APISocketOptions.md
Labels: Type: Bug, [docs]

#1855 [core] Fixed Windows build with latest pthreads
  srtcore/sync.h
Labels: Type: Bug, [core]

#1860 [core](minor) wrong type prefix for CUnit announcement
  srtcore/packetfilter.h
Labels: Type: Maintenance, [core]

#1867 [build] Fixed build break with latest GTest
  CMakeLists.txt
Labels: Type: Bug, [build]

#1862 [docs] Updated the link to the RFC
  README.md
Labels: Type: Maintenance, [docs]

#1858 [core] Restoring RTTVar from cached RTT after reconnection
  srtcore/core.cpp
Labels: [core]

#1852 [core] Removed condition that blocks extending group HS extension in future
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#1868 [core] Fixed incorrect setting streamid in internal config in HS (last 4 characters)
  docs/APISocketOptions.md
  srtcore/core.cpp
  srtcore/socketconfig.h
  test/test_socket_options.cpp
Labels: Type: Bug, [core]

#1856 [docs] Updated and fixed blocking and error information
  docs/API-functions.md
Labels: [docs]

#1848 [core] Fixed incorrect group data sync on first connected socket
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1864 Fix SRTO_CONNTIMEO restrict
  docs/APISocketOptions.md
  srtcore/core.cpp
  srtcore/core.h
  test/test_connection_timeout.cpp
Labels: [core]

#1865 [core] Fix getopt SRTO_TLPKTDROP
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1878 [core](minor) Use correct keyword for CEPollDesc
  srtcore/group.h
Labels: Priority: Low, [core]

#1881 [devel] Fixed wrong handling of no transmission in the test apps
  apps/apputil.hpp
  testing/testmedia.cpp
Labels: Type: Bug, [apps]

#1879 [core] Added restrictions on pktseq/msgno fields in srt_sendmsg2 call
  srtcore/core.cpp
Labels: [API], [core]

#1886 [core] Removed unnecessary lock that could cause a deadlock
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1885 [core] Added SRT_SYNC_CLOCK_TYPE preprocessor definition
  docs/API-functions.md
  srtcore/api.cpp
  srtcore/sync.h
  srtcore/sync_posix.cpp
Labels: Type: Enhancement, [core]

#1876 [core] Extended logs for negative or zero RTT estimate on the receiver side
  srtcore/core.cpp
  srtcore/core.h
  srtcore/window.cpp
  srtcore/window.h
Labels: Type: Maintenance, [core]

#1893 [docs] Moved API docs in a separate folder plus improved API documentation
  README.md
  docs/API/API-functions.md
  docs/API/API-socket-options.md
  docs/API/API.md
  docs/API/statistics.md
  docs/AccessControl.md
  docs/README.md
  docs/handshake.md
Labels: Type: Maintenance, [docs]

#1900 [core] Fix typo of variable name
  srtcore/epoll.cpp
Labels: Type: Bug, [core]

#1899 [core] Fixed wrong limitation on SRTO_FC option. Fixed documentation.
  docs/API/API-socket-options.md
  srtcore/socketconfig.h
Labels: Priority: High, Type: Bug, [core], [docs]

#1882 [doc] Removed misleading information about connect callback in successful connection
  docs/API/API-functions.md
Labels: Priority: High, Type: Maintenance, [docs]
