Repository Haivision/srt, pull requests merged in 2021-02, with the labels that each got.

#1774 [core] Minor: renamed CUDT m_tsTmpActiveSince to m_tsFreshActivation
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
Labels: Type: Maintenance, [core]

#1780 Added timepoint printing in json format
  apps/apputil.cpp
  apps/apputil.hpp
Labels: Type: Enhancement, [apps]

#1781 [core] Added handshake data check to prevent rogue handshakes
  srtcore/api.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/handshake.cpp
  srtcore/handshake.h
Labels: Priority: Medium, Type: Maintenance, [core]

#1785 [apps] Fix too premature stopped reading in srt-file-transmit
  apps/srt-file-transmit.cpp
Labels: Type: Bug, [apps]

#1783 [core] Fixed faulty packet drop by a group.
  srtcore/group.cpp
Labels: Type: Bug, [core]

#1787 [testapp] Fixed hangup when exitting on interrupt
  testing/srt-test-live.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Type: Maintenance, [apps]

#1784 [core] Fixed packet drop when reading from members
  srtcore/group.cpp
Labels: Type: Bug, [core]

#1790 [core] Aligned NOTDONE and SUCCESS result of hanging as acceptable
  srtcore/fec.cpp
  srtcore/fec.h
Labels: Type: Maintenance, [core]

#1759 Fixed documentation on option restrictions
  docs/APISocketOptions.md
  srtcore/core.cpp
Labels: Priority: High, Type: Bug, [core], [docs]

#1786 [build] Using xenial dist in Travis with Java 11
  .travis.yml
  apps/srt-file-transmit.cpp
Labels: Type: Maintenance, [build]

#1761 [core] Added group receiver drop log warning
  srtcore/group.cpp
Labels: Type: Maintenance, [core]

#1795 [apps] Traverse srt_options by const reference
  apps/socketoptions.cpp
  apps/transmitmedia.cpp
Labels: Type: Maintenance, [apps]

#1775 Runtime link stability timeout for main/backup
  CMakeLists.txt
  docs/APISocketOptions.md
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
Labels: Type: Enhancement, [core]

#1796 [core] Fixed bonding packet timestamping
  srtcore/group.cpp
Labels: Type: Bug, [core]

#1794 [core] Fix warning and workaround ABI compatibility due to ENABLE_EXPERIMENTAL_BONDING
  srtcore/srt.h
Labels: Type: Bug, [core]

#1798 [core] Minor fixes: warn, formatting, trace, etc.
  srtcore/core.cpp
  srtcore/group.cpp
  srtcore/window.cpp
Labels: Type: Maintenance, [core]

#1803 [core] Fixed pre-initialization of the last sample time for groups
  srtcore/api.cpp
Labels: Type: Bug, [core]

#1802 [core] Fixed FormatTime subseconds
  srtcore/group.cpp
  srtcore/sync.cpp
Labels: Type: Bug, [core]

#1806 Fix build with GCC 11
  srtcore/sync.h
Labels: Type: Maintenance, [core]

#1807 Use numeric limits not only with C++ 11
  srtcore/sync.h
Labels: Type: Maintenance, [core]

#1804 [core] Fixed group rcv buffering of ignored packet
  srtcore/group.cpp
Labels: Type: Bug, [core]

#1776 [core] Created internal config storage for a socket
  srtcore/api.cpp
  srtcore/channel.cpp
  srtcore/channel.h
  srtcore/congctl.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  srtcore/filelist.maf
  srtcore/group.cpp
  srtcore/packetfilter.cpp
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/socketconfig.cpp
  srtcore/socketconfig.h
  srtcore/srt.h
  test/test_fec_rebuilding.cpp
Labels: Type: Maintenance, [core]

#1817 [core] Removed invalid max socket ID check
  srtcore/handshake.cpp
Labels: Priority: Critical, Type: Bug, [core]

#1820 [core] Fixed post-action for socket options
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1816 [core] Fixed wrong max socket ID value formula
  srtcore/api.cpp
  srtcore/api.h
Labels: Priority: High, Type: Bug, [core]

#1830 [build] Fixed possibility to compile examples with C++03 standard
  CMakeLists.txt
  docs/BuildOptions.md
  docs/DevelopersGuide.md
Labels: Priority: High, Type: Bug, [build]
