Repository Haivision/srt, pull requests merged in 2021-05, with the labels that each got.

#1980 [docs] Fixed SRTO_RCVLATENCY description
  docs/API/API-socket-options.md
Labels: Type: Bug, [docs]

#1982 add missed with-srt-name description
  docs/build/build-options.md
Labels: Type: Maintenance, [docs]

#1517 [core] Fixed cookie contest
  docs/features/handshake.md
  srtcore/core.cpp
Labels: Priority: Medium, Type: Bug, [core]

#1987 [core] Minor refactoring around strerror_array_sizes
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group_common.cpp
  srtcore/group_common.h
  srtcore/strerror_defs.cpp
Labels: Type: Maintenance, [core]

#1988 [apps] Replace functions in UDT namespace by functions in srt namespace
  apps/srt-file-transmit.cpp
  apps/srt-live-transmit.cpp
  apps/srt-tunnel.cpp
  apps/transmitmedia.cpp
Labels: Type: Maintenance, [apps]

#1990 [core] Fix comments
  srtcore/socketconfig.h
Labels: Type: Maintenance, [core]

#1909 [core] Improved 'no room to store' log message
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#1857 Main/backup: changing switching rules
  srtcore/core.cpp
  srtcore/core.h
  srtcore/filelist.maf
  srtcore/group.cpp
  srtcore/group.h
  srtcore/group_backup.cpp
  srtcore/group_backup.h
  srtcore/group_common.cpp
  srtcore/group_common.h
Labels: Type: Enhancement, [core]

#1989 Added description of the SRT Main Backup mode
  docs/README.md
  docs/features/bonding-main-backup.md
Labels: Type: Enhancement, [docs]

#1992 [docs] Corrections to the main backup doc
  docs/features/bonding-main-backup.md
Labels: Type: Maintenance, [docs]

#1919 Fix use-after-free in rendezvous queue
  srtcore/queue.cpp
Labels: Type: Bug, [core]

#1994 Windows Build Script - Add custom build directory and VCPKG OpenSSL
  .gitignore
  CMakeLists.txt
  scripts/build-windows.ps1
  scripts/set-version-metadata.ps1
  srtcore/version.h.in
Labels: Type: Enhancement, [build]

#1995 Added script to build the Windows installer for SRT libraries
  scripts/win-installer/.gitignore
  scripts/win-installer/README.md
  scripts/win-installer/build-win-intaller.ps1
  scripts/win-installer/install-nsis.ps1
  scripts/win-installer/install-openssl.ps1
  scripts/win-installer/libsrt.nsi
  scripts/win-installer/libsrt.props
Labels: Type: Enhancement, [build]

#1965 Drift Tracer: taking RTT into account
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/core.cpp
  srtcore/tsbpd_time.cpp
  srtcore/tsbpd_time.h
  srtcore/utilities.h
Labels: Type: Maintenance, [core]

#2009 Update for Android build scripts
  docs/build/build-android.md
  scripts/build-android/README.md
  scripts/build-android/build-android
  scripts/build-android/mkall
  scripts/build-android/mksrt
  scripts/build-android/mkssl
  scripts/build-android/packjni
  scripts/build-android/prepare_build
Labels: Type: Maintenance, [build]

#2010 [core] Fixed version rejection for HSv4 caller
  srtcore/core.cpp
Labels: Type: Bug, [core]

#1951 [docs] Added buffer configuration guide
  docs/API/configuration-guidelines.md
  docs/README.md
Labels: Type: Enhancement, [docs]

#2003 [core] fix TTL drop packets
  srtcore/buffer.cpp
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2011 [core] Fixed DROPREQ on NAK behind SndLastDataAck
  srtcore/buffer.cpp
  srtcore/core.cpp
  srtcore/srt.h
Labels: Type: Bug, [core]

#2024 [build] Improved Windows installer
  scripts/win-installer/README.md
  scripts/win-installer/build-win-installer.ps1
  scripts/win-installer/install-libsrt.ps1
Labels: Type: Maintenance, [build]

#1588 [BUG] Fixed: Detect reusable bindings and binding conflicts correctly
  .travis.yml
  docs/API/API-functions.md
  scripts/generate-error-types.tcl
  srtcore/api.cpp
  srtcore/api.h
  srtcore/srt.h
  srtcore/strerror_defs.cpp
  test/filelist.maf
  test/test_reuseaddr.cpp
  test/test_sync.cpp
Labels: Priority: High, Type: Bug, [API], [core], [tests]

#2005 [core] make sure TTL will not drop packets over last block
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2028 [core] FIX: Added check for NULL unit when passing to updateConnStatus
  srtcore/core.cpp
  srtcore/core.h
  srtcore/queue.cpp
  srtcore/queue.h
Labels: Priority: High, Type: Bug, [core]
