Repository Haivision/srt, pull requests merged in 2022-03, with the labels that each got.

#2247 [docs] Reworked the build options document.
  docs/build/build-options.md
Labels: Type: Enhancement, [docs]

#2255 [build] Fix build on Debian
  srtcore/utilities.h
Labels: Type: Bug, [build]

#2081 [core] Repurpose SRTO_GROUPMINSTABLETIMEO
  apps/socketoptions.hpp
  docs/API/API-socket-options.md
  docs/apps/srt-live-transmit.md
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/group.h
  srtcore/socketconfig.cpp
  srtcore/socketconfig.h
  srtcore/srt.h
  test/test_socket_options.cpp
Labels: Type: Enhancement, [API]

#2257 [core] fix unrecoverable initial packets lose in group message mode
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2258 [core] Fix extraction seq with scheduling seq in group.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2265 [core] fix `CRcvBufferNew::m_bPeerRexmitFlag` may not be updated
  srtcore/core.cpp
Labels: Priority: High, Type: Bug, [core]

#2269 [build] Travis MinGW job now uses OpenSSL 1.1.1g
  .travis.yml
Labels: Type: Maintenance, [build]
