Repository Haivision/srt, pull requests merged in 2022-08, with the labels that each got.

#2420 Fixed TestIPv6.v6_calls_v4 in case the system-default IPV6_V6ONLY is 1.
  test/test_ipv6.cpp
Labels: Type: Bug, [tests]

#2422 Refactor crysprFallback_MsEncrypt
  haicrypt/cryspr.c
Labels: Type: Maintenance, [core]

#2423 Fixed build break when enabled SRT_ASSERT. Enabled _DEBUG in debug mode
  CMakeLists.txt
  srtcore/buffer_rcv.cpp
Labels: Type: Maintenance, [core]

#2427 [core] Remove unused variable
  srtcore/crypto.cpp
Labels: Type: Maintenance, [core]

#2425 Protect Crypspr initialisation with a mutex
  srtcore/api.cpp
  srtcore/api.h
  srtcore/crypto.cpp
  srtcore/crypto.h
Labels: Type: Bug, [core]

#2428 [core] Removed unused struct FByOldestActive.
  srtcore/core.h
  srtcore/group.cpp
Labels: Type: Maintenance, [core]

#2424 CCryptoControl: Partially removed dependency on CUDT.
  srtcore/core.cpp
  srtcore/crypto.cpp
  srtcore/crypto.h
  srtcore/sync.cpp
Labels: Type: Maintenance, [core]

#2431 [tests] Fixed a typo: cypto -> crypto.
  test/test_cryspr.cpp
Labels: Type: Maintenance, [tests]

#2432 [core] Fixed outlen_p value in EVP_AES_EcbCipher
  haicrypt/cryspr-openssl-evp.c
Labels: Type: Bug, [core]

#2434 [core] Applied clang-format on CPacket.
  srtcore/packet.cpp
  srtcore/packet.h
Labels: Type: Maintenance, [core]

#2408 Update TSBPD base time and clock drift on an idle connection.
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/group.h
  srtcore/tsbpd_time.cpp
  srtcore/tsbpd_time.h
Labels: Type: Enhancement, [core]

#2429 Changed cond notification naming. Added and used new sync utilities.
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/group.cpp
  srtcore/queue.cpp
  srtcore/sync.h
  test/test_bonding.cpp
  test/test_sync.cpp
Labels: Type: Maintenance, [core]

#2436 [core] Fixed missing reject reason types (logging).
  srtcore/handshake.cpp
Labels: Type: Bug, [core]

#2442 [core] Removed unused struct HaveState
  srtcore/group.cpp
Labels: Type: Maintenance, [core]

#2440 [API] Renamed macro MN to SRT_EMN, MJ to SRT_EMJ.
  srtcore/srt.h
Labels: Type: Maintenance, [API]
