Repository Haivision/srt, pull requests merged in 2022-07, with the labels that each got.

#2404 [docs] Fixed a typo in srt_epoll_uwait
  docs/API/API-functions.md
Labels: Type: Bug, [docs]

#2406 [tests] Minor fix for Bonding.CloseGroupAndSocket
  test/test_bonding.cpp
Labels: Type: Bug, [tests]

#2413 Create MbedTLS mdctx inside PBKDF
  haicrypt/cryspr-mbedtls.c
Labels: Type: Bug, [core]

#2416 [core] Fixed byteRcvLoss stats
  srtcore/core.cpp
Labels: Type: Bug, [core]
