Repository Haivision/srt, pull requests merged in 2022-02, with the labels that each got.

#2241 [core] Improved the condition for smoothed_rtt recalculation
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#2242 srt-live-transmit.md: add ffplay, ffprobe examples
  docs/apps/srt-live-transmit.md
Labels: Type: Maintenance, [docs]

#2243 [core] Fixed setting the peer rexmit flag on the RCV buffer
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
  srtcore/core.cpp
  srtcore/core.h
  test/test_buffer.cpp
Labels: Type: Bug, [core]

#2218 [core] refactor Group::recv() base on new rcv buffer to support message mode
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
  srtcore/group.cpp
Labels: Type: Enhancement, [core]

#2244 [core] Fixed rcvDropTooLateUpTo calls.
  srtcore/group.cpp
Labels: Type: Bug, [core]

#2245 [core] Improved group readiness updating in sendCtrlAck()
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Maintenance, [core]
