Repository Haivision/srt, pull requests merged in 2022-10, with the labels that each got.

#2478 CRYSPR AES GCM follow up adjustments.
  haicrypt/cryspr-openssl-evp.c
  haicrypt/cryspr.c
  haicrypt/cryspr.h
  haicrypt/haicrypt.h
  haicrypt/hcrypt.c
Labels: Type: Bug, [core]

#2484 Minor edits to the CRcvBuffer::getTimespan_ms().
  srtcore/buffer_rcv.cpp
Labels: Type: Maintenance, [core]

#2486 [core] Fixed message seqno check.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2465 [core] Made offset consistent with avail_bufsize.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2487 Update build-win.md
  docs/build/build-win.md
Labels: Type: Bug, [docs]

#2491 [core] Tune logs of group members adding and removing.
  srtcore/api.cpp
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Maintenance, [core]

#2495 [core] Reject if SRT_MAGIC_CODE is not set in the HS induction response.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2499 Refax: moved buffer tools to a separate file
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
  srtcore/buffer_snd.cpp
  srtcore/buffer_snd.h
  srtcore/buffer_tools.cpp
  srtcore/buffer_tools.h
  srtcore/filelist.maf
Labels: Type: Maintenance, [core]

#2501 [core] Reduced calls to steady_clock::now() from two to one.
  srtcore/core.cpp
Labels: Type: Maintenance, [core]
