Repository Haivision/srt, pull requests merged in 2022-04, with the labels that each got.

#2275 [core] Applied clang-format on api.h and api.cpp.
  srtcore/api.cpp
  srtcore/api.h
Labels: Type: Maintenance, [core]

#2288 [core] Downgrade ACKACK reorder log to Note
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#2287 [core] CSndUList use notify_one() instead of notify_all()
  srtcore/queue.cpp
Labels: Type: Maintenance, [core]

#2264 [core] fix `CUDTGroup::m_iLastSchedSeqNo` was not updated correctly
  srtcore/core.cpp
  srtcore/group.cpp
Labels: Type: Bug, [core]

#2291 [core] prefer to use `std::atomic` if available
  srtcore/atomic.h
Labels: Type: Maintenance, [core]

#2292 [core] fix `volatile` in `group.h`
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Bug, [core]

#2296 [core] Fixed CRcvBufferNew::strFullnessState(..).
  srtcore/buffer_rcv.cpp
Labels: Type: Bug, [core]

#2301 [core]: Fix name conflict with md5 functions
  srtcore/md5.cpp
  srtcore/md5.h
Labels: Type: Maintenance, [core]

#2266 [core] fix `CRcvBufferNew::m_iStartSeqNo` was not sync in group
  srtcore/buffer_rcv.h
  srtcore/core.cpp
Labels: Priority: High, Type: Bug, [core]

#2309 [core] Fixed updating new RCV buffer on ISN change.
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Bug, [core]

#2308 [build] build openssl share library without version extesion for android
  scripts/build-android/mkssl
Labels: Type: Maintenance, [build]

#2207 [core] drop packets in the new recv buffer by group recv base
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Bug, [core]

#2315 [core] Fixed ENABLE_HAICRYPT_LOGGING
  haicrypt/cryspr-config.h
  haicrypt/haicrypt_log.cpp
  srtcore/logging.h
Labels: Type: Bug, [core]

#2319 Allow non-C++11 examples to be compiled with C++11 disabled
  CMakeLists.txt
Labels: Type: Bug, [build]
