Repository Haivision/srt, pull requests merged in 2022-05, with the labels that each got.

#2322 [core] Fixed minor compiler warnings in RCV buffer
  srtcore/buffer_rcv.cpp
Labels: Type: Maintenance, [core]

#2317 [docs] Fixed srt_bstats return type description
  docs/API/API-functions.md
Labels: Type: Bug, [docs]

#2321 [API] Removed unused srt_include(..) and srt_exclude(..)
  docs/API/API-functions.md
  srtcore/api.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/group.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
Labels: Type: Maintenance, [API]

#2323 [API] Removed balancing and multicast group types
  srtcore/group.cpp
  srtcore/group.h
  srtcore/srt.h
  testing/testmedia.cpp
Labels: Type: Enhancement, [API]

#2327 [apps] Removed calls to non-existing srt_group_configure() function.
  testing/testmedia.cpp
Labels: Type: Bug, [apps]

#2329 API docs: Fix typo breaking link in markdown
  docs/API/API.md
Labels: Type: Bug, [docs]

#2331 [docs] Changed the name from RFC to Internet Draft plus updated the links
  README.md
  docs/API/API-functions.md
  docs/API/API.md
  docs/API/statistics.md
  docs/README.md
  docs/features/bonding-main-backup.md
  docs/features/handshake.md
  srtcore/tsbpd_time.h
Labels: Type: Maintenance, [docs]

#2332 [core] Fixed setting group type on a socket accepted w/o listener callback
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2335 [docs] Added an example for srt_getsockname API function.
  docs/API/API-functions.md
Labels: Type: Maintenance, [docs]

#2326 [build] Travis CI add mbedTLS build check
  .travis.yml
Labels: Type: Enhancement, [build]

#2341 [core] Fixed build with the old receiver buffer.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2344 [docs] Fixed retransmitalgo naming plus added the link for Medium article
  docs/API/API-socket-options.md
Labels: Type: Maintenance, [docs]

#2342 Added a note on srt bind acquire not working with connected UDP socket
  docs/API/API-functions.md
Labels: Type: Maintenance, [docs]
