Repository Haivision/srt, pull requests merged in 2022-12, with the labels that each got.

#2563 [build] Run codecov only after success in Travis.
  .travis.yml
Labels: Type: Maintenance, [build]

#2564 Added lacking mention of BINDTODEVICE for srt_config_add
  docs/API/API-functions.md
Labels: [docs]

#2566 Refax: remove usage of LOGF/HLOGF
  haicrypt/haicrypt_log.cpp
  haicrypt/haicrypt_log.h
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/logging.h
Labels: Type: Maintenance, [build]

#2433 Fixing a member (m_nHeader) being referenced before initialized
  srtcore/packet.cpp
Labels: Type: Maintenance, [core]

#2565 Added Travis fix to display stacktrace by gdb on crash
  .travis.yml
Labels: Type: Enhancement, [build]

#2568 [core] Obtain ConnectionLock while sending crypto keys.
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  srtcore/crypto.h
Labels: Type: Bug, [core]

#2521 Refax: moved removal of one seq from fresh loss list to a separate function
  srtcore/core.cpp
  srtcore/list.cpp
  srtcore/list.h
  test/test_losslist_rcv.cpp
Labels: Type: Maintenance, [core]

#2562 Fixed: reject RID for id=0 if not rendezvous
  srtcore/queue.cpp
Labels: Type: Bug, [core]

#2498 [core] Fixed missing DROPREQ for LOSSREPORT that partially predates ACK.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2570 address multiple typo fixes.
  CMakeLists.txt
  docs/API/API.md
  docs/features/socket-groups.md
  haicrypt/hcrypt_ctx.h
  scripts/CheckGCCAtomicIntrinsics.cmake
  scripts/build-windows.ps1
  scripts/generate-error-types.tcl
  scripts/srt-dev.lua
  srtcore/access_control.h
  srtcore/api.cpp
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
  srtcore/congctl.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/fec.cpp
  srtcore/group.cpp
  srtcore/group.h
  srtcore/packet.cpp
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/socketconfig.cpp
  srtcore/socketconfig.h
  srtcore/srt.h
  srtcore/srt_attr_defs.h
  srtcore/strerror_defs.cpp
  srtcore/sync.h
  test/any.hpp
  test/test_buffer_rcv.cpp
  test/test_cryspr.cpp
  test/test_enforced_encryption.cpp
  test/test_epoll.cpp
  testing/testmedia.cpp
Labels: Type: Maintenance, [core]

#2572 [examples] add wait 1 sec until receiver completes.
  examples/test-c-client.c
  examples/test-c-server.c
Labels: Type: Bug, [apps]

#2279 [core] Remove use variable length array
  srtcore/epoll.cpp
Labels: Type: Maintenance, [core]

#2574 [API] Crypto mode 'auto' implemented for listener.
  docs/API/API-socket-options.md
  srtcore/core.cpp
  srtcore/crypto.cpp
  srtcore/crypto.h
Labels: Type: Enhancement, [API]

#2588 [apps] Fix ENABLE_AEAD_API_PREVIEW in apps.
  CMakeLists.txt
  apps/socketoptions.hpp
Labels: Type: Bug, [apps]

#2590 groupconnect option "1" (not "true")
  docs/features/socket-groups.md
Labels: Type: Bug, [docs]

#2592 [MAINT] Fixed example buildbreaks. Added examples for message mode transmission
  .github/workflows/cxx11-ubuntu.yaml
  CMakeLists.txt
  examples/recvlive.cpp
  examples/recvmsg.cpp
  examples/sendmsg.cpp
  examples/test-c-client.c
  examples/test-c-server.c
Labels: Type: Bug, Type: Maintenance, Type: Enhancement, [apps]

#456 Added extraction of IP_PKTINFO when reading and setting it when sending back
  CMakeLists.txt
  configure-data.tcl
  docs/build/build-options.md
  srtcore/channel.cpp
  srtcore/channel.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/packet.cpp
  srtcore/packet.h
  srtcore/queue.cpp
  srtcore/queue.h
Labels: Priority: High, Type: Enhancement
