Repository Haivision/srt, pull requests merged in 2022-06, with the labels that each got.

#2353 [BUILD] Synchronized changes in configure script with latest changes
  configure-data.tcl
Labels: Type: Maintenance, [build]

#2351 [build] Do not install examples and testing apps
  CMakeLists.txt
Labels: Type: Maintenance, [build]

#2355 [docs] Improved build and socket options description for v1.5.0
  docs/API/API-socket-options.md
  docs/build/build-options.md
Labels: Type: Maintenance, [docs]

#2352 [API] Fixed ABI compatibility issue with bonding enabled and disabled.
  docs/API/API-functions.md
  srtcore/group.cpp
  srtcore/srt_c_api.cpp
Labels: Type: Bug, [API]

#2358 [docs] Improved the access control document.
  docs/features/access-control.md
Labels: Type: Maintenance, [docs]

#2359 [docs] Fixed SRTO_LINGER default values.
  docs/API/API-socket-options.md
  docs/API/API.md
Labels: Type: Bug, [docs]

#2363 [docs] Minor improvements to Connection Bonding documentation
  docs/build/build-options.md
  docs/features/bonding-intro.md
  docs/features/socket-groups.md
Labels: Type: Maintenance, [docs]

#2364 [core] Fixed CUDT::packUniqueData return value.
  srtcore/buffer_rcv.h
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2357 [docs] Improved the main README of the SRT project
  README.md
  docs/README.md
  docs/build/build-android.md
  docs/build/build-iOS.md
  docs/build/build-linux.md
  docs/build/build-macOS.md
  docs/build/build-win.md
Labels: Type: Enhancement, [docs]

#2365 [core] Fixed warning on SRT_ATTR_REQUIRES.
  srtcore/core.h
  srtcore/packetfilter.h
  srtcore/srt_attr_defs.h
Labels: Type: Maintenance, [core]

#2366 [docs] Added Connection Bonding Quick Start documentation
  README.md
  docs/API/API-functions.md
  docs/API/statistics.md
  docs/README.md
  docs/build/build-options.md
  docs/features/bonding-intro.md
  docs/features/bonding-quick-start.md
  docs/features/socket-groups.md
Labels: Type: Enhancement, [docs]

#2369 [build] Fix openssl static linking error
  CMakeLists.txt
  configure-data.tcl
  docs/build/build-options.md
  scripts/ShowProjectConfig.cmake
  scripts/build-android/mksrt
Labels: Type: Bug, [build]

#2386 [core] Fixed suspicious (HCRYPT_CTX_F_ENCRYPT & ctx->flags ? ..).
  haicrypt/hcrypt_sa.c
Labels: Type: Maintenance, [core]

#2384 [core] Made CRcvQueue::m_counter atomic to avoid data race.
  srtcore/queue.cpp
  srtcore/queue.h
Labels: Priority: Low, Type: Bug, [core]

#2387 [core] Rethrow an exception without copying it.
  srtcore/api.cpp
Labels: Type: Maintenance, [core]

#2388 [core] Cookie contest log msg downgraded to Debug
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#2391 [core] fix sendBroadcast() use the size of blocked sockets as the size of buf to send
  srtcore/group.cpp
Labels: Type: Maintenance, [core]
