Repository Haivision/srt, pull requests merged in 2022-11, with the labels that each got.

#2488 [core] Fixed the inconsistency between getFirstLostSeq() and ackDataUpTo()
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2497 Fixed some ACK error logs.
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#2509 Refax: removed the synconmsg property and its handling in the groups
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Maintenance, [core]

#2511 Refax: improve logging and code readability around specific logging
  srtcore/packet.cpp
  srtcore/queue.cpp
  srtcore/queue.h
Labels: Type: Maintenance, [core]

#2510 Refax: added size cache to the group container
  srtcore/group.cpp
  srtcore/group.h
Labels: Type: Maintenance, [core]

#2500 Refax: extract receiver buffer insertion handling to a separate function
  srtcore/core.cpp
  srtcore/core.h
Labels: Priority: High, Type: Maintenance, [core]

#2517 Refax: safety improvements
  srtcore/api.h
  srtcore/core.cpp
  srtcore/group.cpp
Labels: Type: Maintenance, [core]

#2490 [core] Fixed CRcvBuffer::getAvailSize() may jump around.
  srtcore/buffer_rcv.h
  srtcore/core.cpp
  test/test_buffer_rcv.cpp
Labels: Type: Bug, [core]

#2526 Fixed: connected peer address not recorded
  srtcore/api.cpp
  test/filelist.maf
  test/test_socketdata.cpp
Labels: Priority: High, Type: Bug, [core], [tests]

#2525 Refax: Cleanup for bonding conditionals and unused code
  srtcore/core.cpp
  srtcore/core.h
  test/filelist.maf
  test/test_bonding.cpp
Labels: Type: Maintenance, [core]

#2520 [core]: Fixed validation of input parameters in srt_connect
  srtcore/api.cpp
Labels: Type: Bug, [core]

#2528 Refax/postfix: further fixes after last refax changes
  srtcore/core.cpp
  srtcore/core.h
  srtcore/packet.cpp
Labels: Type: Maintenance, [core]

#2529 [docs] Added a note on activating HAICRYPT logging
  docs/build/build-options.md
Labels: Type: Maintenance, [docs]

#2536 [build] Identify parameters with a prepended -l in CMAKE_CXX_IMPLICIT_ LINK_LIBRARIES
  CMakeLists.txt
Labels: Type: Maintenance, [build]

#2533 [core] fix CSndBuffer parameter incorrect in AES GCM mode
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2542 [build] Upgrade to checkout@v3 GitHub action.
  .github/workflows/android.yaml
  .github/workflows/cxx11-macos.yaml
  .github/workflows/cxx11-ubuntu.yaml
  .github/workflows/cxx11-win.yaml
  .github/workflows/iOS.yaml
Labels: Type: Maintenance, [build]

#2544 [core] Fixed TARGET_OS_MAC not defined.
  srtcore/buffer_rcv.h
  srtcore/buffer_tools.cpp
  srtcore/buffer_tools.h
  srtcore/sync.h
Labels: Type: Bug, [core]

#2541 [core] Moved KM refresh in packUniqueData()
  haicrypt/hcrypt_ctx_tx.c
  haicrypt/hcrypt_tx.c
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  srtcore/crypto.h
Labels: Type: Bug, [core]

#2547 [core] Fixed cloning the RX crypto context (AEAD)
  haicrypt/hcrypt.c
Labels: Type: Bug, [core]

#2513 Doc: fixed wrong description of PBKEYLEN conflict resolution
  docs/API/API-socket-options.md
Labels: Type: Bug, [docs]

#2548 Fix: rendezvous: do not reject incoming packet with id=0 when rendezvous
  srtcore/queue.cpp
Labels: Type: Bug, [core]

#2392 [core] MD5: Removed null pointer subtraction
  srtcore/md5.cpp
  srtcore/md5.h
Labels: Type: Maintenance, [core]

#2556 [Test][MAINT] Splitting ListenCallback test into 3 separate tests, fixed proper setup/teardown
  test/test_listen_callback.cpp
Labels: Type: Maintenance, [tests]

#2558 [core] Pass std::string by const ref where possible.
  srtcore/api.cpp
  srtcore/common.cpp
  srtcore/common.h
  srtcore/congctl.h
  srtcore/packetfilter.cpp
  srtcore/packetfilter.h
  srtcore/packetfilter_api.h
  srtcore/udt.h
Labels: Type: Maintenance, [core]
