Repository Haivision/srt, pull requests merged in 2022-09, with the labels that each got.

#2449 [core] remove MSG_TRUNC logging
  srtcore/channel.cpp
Labels: Type: Maintenance, [core]

#2450 [build] Allow using all GNU directories even if libdir is set
  CMakeLists.txt
Labels: Type: Maintenance, [build]

#2454 [docs] Added Packet Managers section to Build Instructions
  README.md
  docs/README.md
  docs/build/build-macOS.md
  docs/build/package-managers.md
Labels: Type: Enhancement, [docs]

#2457 [docs] Fixed version to 1.5.1 and did minor changes to build options summary table
  docs/build/build-options.md
Labels: Type: Maintenance, [docs]

#2456 Updated changelog script to generate release notes
  scripts/changelog/README.md
  scripts/release-notes/README.md
  scripts/release-notes/generate_release_notes.py
  scripts/release-notes/requirements.txt
Labels: Type: Maintenance, [apps]

#2461 [docs] Updated docs on release notes generation
  scripts/release-notes/README.md
Labels: Type: Maintenance, [docs]

#2452 [apps] UriParser: fixed protocol type detection.
  apps/uriparser.cpp
Labels: Type: Bug, [apps]

#2464 [core] Fixed some wrong usages of m_iMaxSeqNo.
  srtcore/core.cpp
  srtcore/fec.h
Labels: Type: Bug, [core]

#2462 [Build] Fix MacOS Build SDK-10.5.
  srtcore/socketconfig.cpp
Labels: Type: Bug, [core]

#2466 [tests] Added a couple of tests on RCV loss list.
  srtcore/list.cpp
  srtcore/list.h
  test/filelist.maf
  test/test_losslist_rcv.cpp
  test/test_losslist_snd.cpp
Labels: Type: Enhancement, [tests]

#2470 [core] Improved m_FreshLoss and m_pRcvLossList in processData()
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2474 [docs] Defined a reason to use C++11 on Windows instead of pthreads port.
  docs/build/build-win.md
Labels: Type: Maintenance, [docs]

#2467 [core] Replaced m_iRcvLastSkipAck with m_iRcvLastAck in logs.
  srtcore/core.cpp
Labels: Type: Bug, [core]
