Repository Haivision/srt, pull requests merged in 2022-01, with the labels that each got.

#2225 [core] replace ++ with incPos() in getTimespan_ms()
  srtcore/buffer_rcv.cpp
Labels: Type: Bug, [core]

#2224 [core] fix m_iMaxPosInc was not updated in releaseNextFillerEntries()
  srtcore/buffer_rcv.cpp
Labels: Type: Bug, [core]

#2219 cmake: Fix Windows system library names for mingw
  CMakeLists.txt
Labels: Type: Bug, [build]

#2226 [core] add CRcvBufferNew::dropUnitInPos() to simplify dropUpTo() and dropMessage()
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
Labels: Type: Maintenance, [core]

#2221 [core] CRcvBufferNew::dropUpTo() able to drop non-empty units
  srtcore/buffer_rcv.cpp
Labels: Type: Bug, [core]

#2229 [core] Refactoring: added packUniqueData(..) function
  srtcore/buffer.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/queue.cpp
  test/test_buffer.cpp
Labels: Type: Maintenance, [core]

#2235 [tests] Use std::random_device in Transmission.FileUpload
  test/test_file_transmission.cpp
Labels: Type: Maintenance, [tests]

#2180 Revised SND DROP and SND pacing logic
  srtcore/buffer.cpp
  srtcore/buffer.h
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Bug, [core]
