Repository Haivision/srt, pull requests merged in 2023-01, with the labels that each got.

#2598 [core] Allow fileCC in group mode.
  srtcore/group.cpp
Labels: Type: Enhancement, [core]

#2591 AEAD payload length check
  srtcore/buffer_snd.cpp
  srtcore/buffer_snd.h
  srtcore/core.cpp
  srtcore/socketconfig.cpp
  srtcore/strerror_defs.cpp
Labels: Type: Bug, [core]

#2522 Refax: added some utils and simplifications to the receiver buffer
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
Labels: Type: Maintenance, [core]

#2599 [core] AEAD: don't break a connection on decrypt failure.
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#2603 [API] Fixed #if ENABLE_AEAD_API_PREVIEW
  srtcore/core.cpp
  srtcore/crypto.cpp
  srtcore/srt.h
Labels: Type: Bug, [API]

#2604 Added badges for SRT versions in some package managers
  README.md
  docs/build/package-managers.md
Labels: Type: Maintenance, [docs]

#2605 [BUG] Fixed default reject reason for a listener callback and wrong handling of a listener's reject response
  srtcore/core.cpp
  test/test_listen_callback.cpp
Labels: Type: Bug, [core]

#2607 [build] Use GTest from brew in MacOS action.
  .github/workflows/cxx11-macos.yaml
Labels: Type: Maintenance, [build]

#2622 [BUG] Fixed usage of the right rejection reason depending on the encryption error also when rejected on the caller level.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2614 [DOC] Fixed invalid link 2-srt_km_state
  docs/API/API-socket-options.md
Labels: Type: Bug, [docs]

#2618 [core] Fix negative id when wrap around
  srtcore/api.cpp
Labels: Type: Bug, [core]

#2615 [MAINT] Removed extra redundant condition checks.
  srtcore/fec.cpp
Labels: Type: Maintenance, [core]

#2616 [MAINT] Fixed wrong null-safety condition check in haicrypt
  haicrypt/hcrypt_tx.c
Labels: Type: Maintenance, [core]

#2630 [BUG] Fixed PKTINFO case that was failing for IPv4+IPv6 bound sockets
  srtcore/channel.cpp
  srtcore/channel.h
Labels: Type: Bug, [core]

#2628 [core] CodeQL warning: checking NULL after new.
  srtcore/api.cpp
Labels: Type: Maintenance, [core]

#2629 [core] CodeQL: operation requires 22 bytes.
  srtcore/common.h
Labels: Type: Maintenance, [core]

#2439 Fixes Builds where the C++ runtime library does not have std::put_time()
  CMakeLists.txt
  apps/statswriter.cpp
  scripts/CheckCXXStdPutTime.cmake
  scripts/ShowProjectConfig.cmake
Labels: Type: Maintenance, [build]

#2619 [BUG] Fix crash when enable heavy log and socket id less then 10.
  srtcore/core.cpp
Labels: Type: Bug, [core]
