Repository Haivision/srt, pull requests merged in 2023-02, with the labels that each got.

#2608 [BUG/TEST] Refaxed and fixed multiplexer reusage. Fixed ReuseAddr tests.
  .travis.yml
  docs/API/API-functions.md
  docs/API/API-socket-options.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/channel.cpp
  srtcore/channel.h
  srtcore/socketconfig.h
  test/test_reuseaddr.cpp
Labels: Type: Bug, [core]

#2642 [doc] Fixed formatting and minor doc errors in srt_bind API doc
  docs/API/API-functions.md
Labels: Type: Maintenance, [docs]

#2652 [MAINT] Fixed invalid ASSERT checking outdated object in haicrypt
  haicrypt/hcrypt_tx.c
Labels: Type: Maintenance, [core]

#2609 [TEST] Added check for read-ready for decryption failure case
  test/test_enforced_encryption.cpp
Labels: Type: Maintenance, [tests]

#2654 [core] Drop undecrypted packet based on sequence number.
  srtcore/core.cpp
  srtcore/srt.h
Labels: Type: Maintenance, [core]

#2643 [MAINT] Added setting CLOSING state when closing a socket
  srtcore/api.cpp
  test/test_reuseaddr.cpp
Labels: Type: Maintenance, [core]

#2411 Disabled warnings various platforms and fixed C++20 Windows build
  haicrypt/cryspr-mbedtls.c
  haicrypt/cryspr.c
  haicrypt/hcrypt.h
  haicrypt/hcrypt_ctx_rx.c
  haicrypt/hcrypt_ctx_tx.c
  haicrypt/hcrypt_msg.h
  haicrypt/hcrypt_rx.c
  srtcore/buffer_rcv.h
  srtcore/cache.cpp
  srtcore/cache.h
  srtcore/channel.cpp
  srtcore/common.h
  srtcore/crypto.cpp
  srtcore/epoll.cpp
  srtcore/group.cpp
  srtcore/logging.h
  srtcore/packet.h
  srtcore/packetfilter.cpp
  srtcore/platform_sys.h
  srtcore/srt_compat.c
  srtcore/sync.cpp
  srtcore/window.cpp
Labels: Type: Maintenance, [core]

#2602 Reduce frequency of the decryption failure log
  CMakeLists.txt
  docs/build/build-options.md
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
Labels: Type: Maintenance, [core]

#2658 Fixed warnings and removed redundant includes
  haicrypt/cryspr-mbedtls.c
  haicrypt/cryspr.c
  haicrypt/haicrypt.h
  haicrypt/hcrypt_ctx_rx.c
  haicrypt/hcrypt_ctx_tx.c
  haicrypt/hcrypt_rx.c
Labels: Type: Maintenance, [core]

#1859 [core] Fixed guard for rcv-rexmit fields
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Maintenance, [core]

#2657 [core] Fixed CRcvBuffer::dropMessage.
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
  srtcore/core.cpp
  test/test_buffer_rcv.cpp
Labels: Priority: High, Type: Bug, [core]

#2660 [MAINT] Removed duplicate lines
  haicrypt/cryspr.c
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#2659 [docs] Added SRTO_PBKEYLEN negotiation table.
  docs/API/API-socket-options.md
Labels: Type: Maintenance, [docs]

#2661 [core] Reworked the CRcvBuffer::dropMessage(..) function.
  srtcore/buffer_rcv.cpp
Labels: Type: Maintenance, [core]

#2670 [DOC] Changed the buffer size description to be clearer
  docs/API/configuration-guidelines.md
Labels: Type: Maintenance, [docs]

#2672 [MAINT] Added 'bind' parameter handling for applications.
  apps/transmitmedia.cpp
  docs/apps/srt-live-transmit.md
  testing/testmedia.cpp
Labels: Type: Maintenance, [apps]

#2667 [FIX] Added rejection handshake sent to the peer in rendezvous mode
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  testing/testmedia.cpp
Labels: Type: Bug, [core]
