Repository Haivision/srt, pull requests merged in 2023-09, with the labels that each got.

#2797 Pre-refax of change-independent parts for 2677
  srtcore/buffer_rcv.cpp
  srtcore/channel.cpp
  srtcore/common.cpp
  srtcore/common.h
  srtcore/congctl.cpp
Labels: Type: Maintenance, [core]

#2015 [apps] Added url percent decoding to url query string keys and values.
  apps/uriparser.cpp
Labels: Type: Enhancement, [apps]

#2683 [FIX] Changed conditions for setting callbacks
  docs/API/API-functions.md
  srtcore/core.h
  srtcore/srt_c_api.cpp
  test/test_listen_callback.cpp
Labels: Type: Bug, [core], [API]

#2675 [MAINT] Fixed C4267 warning on MSVC
  srtcore/epoll.cpp
  srtcore/fec.cpp
  test/test_buffer_rcv.cpp
  test/test_cryspr.cpp
  test/test_enforced_encryption.cpp
  test/test_fec_rebuilding.cpp
  test/test_file_transmission.cpp
  test/test_listen_callback.cpp
  test/test_socket_options.cpp
  test/test_utilities.cpp
  testing/srt-test-file.cpp
  testing/srt-test-live.cpp
  testing/srt-test-mpbond.cpp
  testing/testmedia.cpp
Labels: Type: Maintenance, [apps], [core]

#2504 Refax: smaller fixes and added utilities
  srtcore/buffer_snd.cpp
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/group.h
  srtcore/handshake.h
  srtcore/list.cpp
  srtcore/list.h
  srtcore/logging.h
  srtcore/socketconfig.cpp
  srtcore/socketconfig.h
  srtcore/sync.h
  srtcore/tsbpd_time.cpp
  srtcore/utilities.h
  testing/testmedia.cpp
Labels: Type: Maintenance, [core]

#2798 Refax-only (with temporary differences) for 2677
  srtcore/buffer_snd.cpp
  srtcore/buffer_snd.h
  srtcore/buffer_tools.cpp
  srtcore/buffer_tools.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group_backup.h
  srtcore/socketconfig.cpp
  srtcore/socketconfig.h
Labels: Type: Maintenance, [core]

#2700 A crypto service provider based on Botan
  CMakeLists.txt
  configure-data.tcl
  docs/build/build-options.md
  haicrypt/cryspr-botan.c
  haicrypt/cryspr-botan.h
  haicrypt/cryspr-config.h
  haicrypt/filelist-botan.maf
  scripts/FindBotan.cmake
  scripts/build-android/build-android
  scripts/build-android/mksrt
  scripts/iOS.cmake
Labels: Type: Enhancement, [core]

#2723 [BUG] Fixes lacking mutex protection to some ACK-related fields
  srtcore/core.cpp
  srtcore/core.h
  srtcore/sync.h
Labels: Type: Bug, [core]
