Repository Haivision/srt, pull requests merged in 2023-06, with the labels that each got.

#2746 [docs] Minor updates to AEAD documentation plus changed v1.6.0 to 1.5.2 in some files
  docs/API/API-functions.md
  docs/API/API-socket-options.md
  docs/build/build-options.md
  srtcore/srt.h
Labels: Type: Maintenance, [docs]

#2754 Fix downversioning of _WIN32_WINNT
  CMakeLists.txt
  scripts/test_vista.c
Labels: Type: Maintenance, [build]

#2685 [MAINT] Fixed unhandled error in haicrypt
  haicrypt/hcrypt.c
Labels: Type: Maintenance, [core]

#2632 Use overlapped WSASendTo to avoid UDP sending losses.
  srtcore/channel.cpp
Labels: Type: Bug, [core]
