Repository Haivision/srt, pull requests merged in 2023-08, with the labels that each got.

#2772 [core] Fixed RCV buffer initialization in Rendezvous.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2765 [doc] Updating the explicit information for binding to IPv6 wildcard
  docs/API/API-functions.md
  docs/API/API-socket-options.md
  docs/apps/srt-live-transmit.md
Labels: Type: Maintenance, [docs]

#2681 [MAINT/TEST] Added custom main with transparent parameters
  .travis.yml
  test/TESTS_HOWTO.md
  test/filelist.maf
  test/test_bonding.cpp
  test/test_common.cpp
  test/test_connection_timeout.cpp
  test/test_enforced_encryption.cpp
  test/test_env.h
  test/test_epoll.cpp
  test/test_fec_rebuilding.cpp
  test/test_file_transmission.cpp
  test/test_ipv6.cpp
  test/test_listen_callback.cpp
  test/test_losslist_rcv.cpp
  test/test_main.cpp
  test/test_many_connections.cpp
  test/test_muxer.cpp
  test/test_reuseaddr.cpp
  test/test_socket_options.cpp
  test/test_socketdata.cpp
  test/test_unitqueue.cpp
Labels: Type: Maintenance, [tests]

#2775 [core] Refactor CRcvQueue::storePkt(..) for better resource management.
  srtcore/core.cpp
  srtcore/packet.cpp
  srtcore/queue.cpp
  srtcore/queue.h
Labels: Type: Maintenance, [core]

#2740 [core] fix tsbpd() may deadlock with processCtrlShutdown()
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2686 [core] Slightly optimize the RCV drop by message number.
  srtcore/buffer_rcv.cpp
  srtcore/core.cpp
  srtcore/group.cpp
Labels: Type: Maintenance, [core]

#2692 [BUG] Rejection not undertaken in rendezvous after KMX failure
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2774 [core] Fix: In rendezvous when processing resulted in ACCEPT it was still sending rejection
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2778 Drop unencrypted packets in GCM mode.
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#2779 Fix the build for target without IP_ADD_SOURCE_MEMBERSHIP.
  apps/transmitmedia.cpp
Labels: Type: Bug, [apps]

#2714 Added maximum BW limit for retransmissions
  CMakeLists.txt
  apps/socketoptions.hpp
  docs/API/API-socket-options.md
  docs/build/build-options.md
  srtcore/buffer_tools.cpp
  srtcore/buffer_tools.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/socketconfig.cpp
  srtcore/socketconfig.h
  srtcore/srt.h
  test/filelist.maf
  test/test_snd_rate_estimator.cpp
Labels: Type: Enhancement, [core], [API]

#2780 Fixed conditional IP_ADD_SOURCE_MEMBERSHIP in testmedia
  testing/testmedia.cpp
Labels: Type: Bug, [apps]

#2782 [core] Fixed SRT_ATTR_REQUIRES use.
  srtcore/core.h
Labels: Type: Bug, [core]

#2784 Added missing public header files in Windows binary installer
  scripts/win-installer/libsrt.nsi
Labels: Type: Maintenance, [build]
