Repository Haivision/srt, pull requests merged in 2023-04, with the labels that each got.

#2708 [core] Fix peer filter config being rejected because of endianness
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2699 Fixed typos in MBedTLS where it referred to GnuTLS
  haicrypt/cryspr-mbedtls.c
  haicrypt/cryspr-mbedtls.h
Labels: Type: Maintenance, [core]

#2682 [MAINT] Upgraded CI: ubuntu to version 20.04
  .github/workflows/android.yaml
  .github/workflows/cxx11-ubuntu.yaml
Labels: Type: Maintenance, [build]

#2721 [docs] Added the link for registration in slack to the getting started table
  README.md
Labels: Type: Bug, [docs]

#2717 FEC: Emergency resize: Fixed crash-bug. Fixed minimum history condition.
  srtcore/fec.cpp
  srtcore/fec.h
Labels: Type: Bug, [core]

#2679 Fixed various warnings on various platforms
  apps/apputil.cpp
  apps/srt-live-transmit.cpp
  apps/srt-tunnel.cpp
  apps/transmitmedia.cpp
  apps/uriparser.cpp
  haicrypt/cryspr-mbedtls.c
  haicrypt/cryspr-openssl-evp.c
  haicrypt/cryspr-openssl.c
  haicrypt/hcrypt.c
  srtcore/common.h
  srtcore/core.cpp
  srtcore/epoll.h
  srtcore/fec.cpp
  srtcore/logging.h
  srtcore/platform_sys.h
  srtcore/socketconfig.h
  srtcore/srt_compat.c
  testing/srt-test-live.cpp
Labels: Type: Maintenance, [core]
