Repository Haivision/srt, pull requests merged in 2024-10, with the labels that each got.

#3033 Fix Build GCC>13 and C++>=20.
  srtcore/sync.h
Labels: Type: Bug, [core]

#3034 Address Sanitizer Issue, Fix Stack buffer reference after it has gone…
  srtcore/channel.cpp
Labels: Type: Bug, [core]

#3041 [apps] Fixed URI decoding in UriParser
  apps/uriparser.cpp
Labels: Type: Bug, [apps]

#3040 [tests] Added NUL character unit test for StreamID socket opt.
  test/test_socket_options.cpp
Labels: Type: Enhancement, [tests]

#3038 [core] Improved mutex protection of the TSBPD.
  srtcore/buffer_tools.cpp
  srtcore/tsbpd_time.cpp
  srtcore/tsbpd_time.h
Labels: Type: Bug, [core]

#3046 Correct typo in API-socket-options.md
  docs/API/API-socket-options.md
Labels: Type: Bug, [docs]

#3047 [core] Fixed static variable usage in the crypto module.
  haicrypt/hcrypt.h
  haicrypt/hcrypt_ctx.h
  haicrypt/hcrypt_msg.h
  haicrypt/hcrypt_rx.c
  haicrypt/hcrypt_xpt_srt.c
Labels: Type: Bug, [core]

#3049 Update Windows installer for new OpenSSL versions
  scripts/win-installer/build-win-installer.ps1
  scripts/win-installer/install-openssl.ps1
  scripts/win-installer/libsrt.nsi
Labels: Type: Maintenance, [build]

#3050 [core] Renamed TSBPD class functions.
  srtcore/buffer_rcv.cpp
  srtcore/tsbpd_time.cpp
  srtcore/tsbpd_time.h
Labels: Type: Maintenance, [core]

#3054 Complete documentation for building SRT on macOS
  docs/build/build-macOS.md
Labels: Type: Maintenance, [docs]

#3060 [build] Apply -stdc=99 on SRT library.
  CMakeLists.txt
Labels: Type: Maintenance, [build]

#3055 [apps] Use sync.h instead of atomic.h in the verbose module.
  apps/verbose.hpp
Labels: Type: Bug, [apps]
