Repository Haivision/srt, pull requests merged in 2024-09, with the labels that each got.

#3018 pthread_setname_np(3) has different signature on NetBSD
  srtcore/threadname.h
Labels: Type: Bug, [core]

#3022 [test] Added option handling also to non-fixture-based tests
  test/test_env.h
Labels: Type: Maintenance, [tests]

#3021 Fixed proper compiler selection for --with-compiler-type configure option
  configure-data.tcl
Labels: Type: Maintenance, [build]

#3023 [apps] Added setopt utility for easily setting socket options
  apps/apputil.hpp
  testing/srt-test-mpbond.cpp
Labels: Type: Maintenance, [apps]

#3020 [test] Added test with bonding first connecting socket failure
  test/test_bonding.cpp
Labels: Type: Enhancement, [tests]

#3019 [core][apps] Some refactoring per clang-reported warnings
  .github/workflows/cxx11-win.yaml
  srtcore/congctl.cpp
  srtcore/handshake.cpp
  srtcore/logging.h
  srtcore/queue.h
  srtcore/utilities.h
  testing/srt-test-live.cpp
  testing/srt-test-multiplex.cpp
  testing/srt-test-relay.cpp
  testing/testactivemedia.cpp
  testing/testactivemedia.hpp
  testing/testmedia.cpp
  testing/testmedia.hpp
  testing/testmediabase.hpp
Labels: Type: Maintenance, [apps], [core], [build]

#3024 [maint] Moved debug-related functions to common
  srtcore/common.cpp
  srtcore/common.h
  srtcore/epoll.cpp
Labels: Type: Maintenance, [core]

#3026 Fixed initialization problem in SocketKeeper version with acquire
  srtcore/api.h
  test/test_bonding.cpp
Labels: Type: Bug, [core]

#3031 [BUG] Fixed nonchecked empty config for packetfilter
  srtcore/common.cpp
  test/test_fec_rebuilding.cpp
Labels: Priority: Critical, Type: Bug, [core]
