Repository Haivision/srt, pull requests merged in 2024-08, with the labels that each got.

#2988 [maint] Removed VC 2013. Added VC 2022
  .appveyor.yml
  scripts/build-windows.ps1
Labels: Type: Maintenance, [build]

#2981 [core] Add a shared mutex class
  srtcore/sync.cpp
  srtcore/sync.h
  test/test_sync.cpp
Labels: Type: Enhancement, [core]

#2978 Applied clang-format on cache.h and cache.cpp.
  srtcore/cache.cpp
  srtcore/cache.h
Labels: Type: Maintenance, [core]

#2762 [docs] Added Rejection Reasons document
  docs/API/API-functions.md
  docs/API/rejection-codes.md
  docs/README.md
  docs/features/access-control.md
Labels: Type: Enhancement, [docs]

#2998 [core] Fixed a data race on listener's config.
  srtcore/api.cpp
Labels: Type: Bug, [core]

#3000 [core] Made CSndQueue::m_counter atomic.
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/sync.h
Labels: Type: Bug, [core]

#3001 [core] Fixed THREAD_STATE_INIT usage in CRcvQueue.
  srtcore/queue.cpp
Labels: Type: Bug, [core]

#3002 [apps] Fixed verbose linkage difference.
  CMakeLists.txt
  apps/verbose.cpp
  apps/verbose.hpp
Labels: Type: Maintenance, [apps]

#3004 [devel] Fixed atomic setting of locked line in Verb
  apps/verbose.hpp
  testing/srt-test-live.cpp
  testing/srt-test-multiplex.cpp
Labels: Type: Bug, [apps]

#2912 [core]Fixing the group option that should be taken from a socket
  srtcore/group.cpp
  srtcore/group.h
  test/test_bonding.cpp
  test/test_crypto.cpp
Labels: Type: Bug, [core]

#3008 [core] Include packet header in rexmit BW calculation.
  srtcore/buffer_tools.cpp
  srtcore/buffer_tools.h
Labels: Type: Bug, [core]

#3007 [core] Slowdown ACKACK outoforder log frequency.
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Maintenance, [core]

#2893 [core] Added busy counter for sockets and various fixes for data race problems
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/queue.cpp
  test/test_fec_rebuilding.cpp
Labels: Type: Bug, [core]

#3012 [tests] Fixed unit tests for CSndRateEstimator.
  test/test_snd_rate_estimator.cpp
Labels: Type: Bug, [tests]

#3013 [core] Fixed group lock-order-inversion.
  srtcore/api.h
  srtcore/group.cpp
Labels: Type: Bug, [core]

#3016 [docs] A minor fix of the release notes script readme.
  scripts/release-notes/README.md
Labels: Type: Bug, [docs]
