Repository Haivision/srt, pull requests merged in 2024-03, with the labels that each got.

#2899 Withdrawn changes from #2858 as they break ABI compat
  srtcore/api.cpp
  srtcore/logging.cpp
  srtcore/logging.h
Labels: Type: Maintenance, [core]

#2898 [build] Add a github action for big endian testing
  .github/workflows/s390x-focal.yaml
Labels: Type: Enhancement, [build]

#2860 fix: link bcrypt on Windows when mbedtls >=v3.5.0
  CMakeLists.txt
Labels: Type: Bug, [build]

#2868 [core] Fix some warnings when compiling with mingw
  srtcore/channel.cpp
  srtcore/platform_sys.h
  srtcore/srt.h
  srtcore/srt_compat.c
  srtcore/srt_compat.h
Labels: Type: Maintenance, [core]

#2906 [core] Fix some indirect inclusion issues
  apps/srt-live-transmit.cpp
  apps/srt-tunnel.cpp
  srtcore/common.cpp
  srtcore/logging.cpp
  srtcore/logging.h
  srtcore/packet.cpp
  srtcore/srt.h
  testing/srt-test-live.cpp
Labels: Type: Bug, [core]

#2907 [core][maint] Formal errors fixed
  apps/verbose.hpp
  srtcore/logging.h
  srtcore/utilities.h
  testing/srt-test-mpbond.cpp
  testing/srt-test-relay.cpp
  testing/testactivemedia.cpp
  testing/testactivemedia.hpp
  testing/testmedia.hpp
Labels: Type: Maintenance, [core]

#2908 [test] Fixed tests that were weirdly failing
  test/test_main.cpp
  test/test_reuseaddr.cpp
Labels: Type: Bug, [tests]

#2902 [build] Add an action to check API/ABI compatibility
  .github/workflows/abi.yml
Labels: Type: Enhancement, [build]
