Repository Haivision/srt, pull requests merged in 2024-07, with the labels that each got.

#2966 [core] Fixed broadcast group: cut failed links on partial sending success
  srtcore/group.cpp
Labels: Type: Bug, [core]

#2971 [core] Removed a wrong assertion about ACK timestamp.
  srtcore/core.cpp
Labels: Type: Maintenance, [core]

#2972 [core] Fix TSBPD thread create/join protection.
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Bug, [core]

#2977 [core] Added missing SRT_ATTR_GUARDED_BY(m_GlobControlLock).
  srtcore/api.cpp
  srtcore/api.h
  srtcore/cache.h
  srtcore/core.cpp
  srtcore/group.cpp
Labels: Type: Maintenance, [core]

#2990 [core] Put the use of m_bGCStatus under m_InitLock
  srtcore/api.cpp
Labels: Type: Bug, [core]

#2979 [core] Added some SRT_ATTR_EXCLUDES to CUDT.
  srtcore/core.h
  srtcore/srt_attr_defs.h
Labels: Type: Maintenance, [core]

#2993 [docs] Added SonarCloud badge.
  README.md
Labels: Type: Maintenance, [docs]

#2962 Improved AES GCM encryption, changed IV length to 12 bytes.
  CMakeLists.txt
  haicrypt/cryspr.c
  haicrypt/haicrypt.h
  haicrypt/hcrypt.c
  haicrypt/hcrypt.h
  haicrypt/hcrypt_ctx.h
  haicrypt/hcrypt_ctx_rx.c
  haicrypt/hcrypt_ctx_tx.c
  srtcore/core.cpp
  srtcore/crypto.cpp
  srtcore/crypto.h
Labels: Type: Maintenance, [core]

#2992 [tests] Fix warnings when compiling with g++ 11.4.0 on ubuntu 24.04
  examples/recvlive.cpp
  examples/sendmsg.cpp
  test/test_reuseaddr.cpp
  testing/srt-test-relay.cpp
  testing/testmedia.cpp
Labels: Type: Maintenance, [core]
