Repository Haivision/srt, pull requests merged in 2024-01, with the labels that each got.

#2842 [BUILD] Fix mbedtls >=v3.5.0 build error on windows
  CMakeLists.txt
Labels: Type: Maintenance, [build]

#2840 Allow custom-defined SRT_ASSERT() function
  srtcore/common.h
Labels: Type: Maintenance, [core]

#2852 fixed compile issues and warnings for iOS platform
  .gitignore
  CMakeLists.txt
  scripts/iOS.cmake
Labels: Type: Maintenance, [build]

#2848 Add support for RTP input in srt-live-transmit
  apps/srt-live-transmit.cpp
  apps/transmitmedia.cpp
  docs/apps/srt-live-transmit.md
Labels: Type: Enhancement, [apps]

#2858 Caching logger enable state to avoid lenghty checks with every log call
  srtcore/api.cpp
  srtcore/common.cpp
  srtcore/filelist.maf
  srtcore/logging.cpp
  srtcore/logging.h
Labels: Type: Maintenance, [core]

#2859 Added developer desciption for conflict concerns about m_LSLock and m_ConnectionLock
  docs/dev/low-level-info.md
Labels: Type: Enhancement, [docs]

#2857 Refax around Window measurement facility
  srtcore/utilities.h
  srtcore/window.cpp
  srtcore/window.h
Labels: Type: Maintenance, [core]

#2593 [MAINT] Refax for CSndBuffer::readData to make the call form clearer
  srtcore/buffer_snd.cpp
  srtcore/buffer_snd.h
  srtcore/core.cpp
Labels: Type: Maintenance, [core]
