Repository Haivision/srt, pull requests merged in 2024-04, with the labels that each got.

#2905 [crypto] HaiCrypt_Clone(): sets up receiver clone properly
  haicrypt/hcrypt.c
Labels: Type: Bug, [core]

#2920 [build] Switch default enclib from openssl to openssl-evp
  CMakeLists.txt
  docs/build/build-options.md
Labels: Type: Maintenance, [build]

#2924 [core] Use common functions for byte order conversion.
  srtcore/channel.cpp
  srtcore/packet.cpp
  srtcore/packet.h
  srtcore/utilities.h
Labels: Type: Maintenance, [core]

#2930 [core] Minor connection logging improvement.
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/queue.cpp
Labels: Type: Maintenance, [core]

#2934 [core] Fixed stats counting packets dropped by a group.
  srtcore/group.cpp
Labels: Type: Bug, [core]

#2932 [core] Stats: do not count discarded packets as dropped.
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
Labels: Type: Bug, [core]

#2935 [core] Removed group syncing when sending control ACK.
  srtcore/core.cpp
  srtcore/core.h
Labels: Type: Maintenance, [core]

#2939 [core] Minor internal logging format changes.
  srtcore/buffer_rcv.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/queue.cpp
Labels: Type: Maintenance, [core]

#2942 [core] Fixed group RCV drop sequence range log.
  srtcore/group.cpp
Labels: Type: Bug, [core]

#2940 [build] Add visionOS support
  CMakeLists.txt
  scripts/visionOS.cmake
Labels: Type: Enhancement, [build]

#2945 [core] Group set the RCV base seqno using peer ISN.
  srtcore/group.cpp
Labels: Type: Bug, [core]

#2947 [core] Fixed checking the m_GroupOf is not NULL.
  srtcore/core.cpp
Labels: Type: Bug, [core]
