Repository Haivision/srt, pull requests merged in 2024-02, with the labels that each got.

#2866 [maint] Moved declaration of SRT_ATR_ALIGNAS to fix a warning
  srtcore/channel.h
  srtcore/srt_attr_defs.h
Labels: Type: Bug, [core]

#2870 [core] Fixed the RCV buffer non-read position update condition
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
Labels: Type: Bug, [core]

#2877 [core] Fix : Sequence number in the ACK packet isn’t correct (#2873)
  srtcore/list.cpp
Labels: Type: Bug, [core]

#2875 Updated the documentation about latency and transtype
  docs/API/API-socket-options.md
  docs/features/latency.md
Labels: Type: Maintenance, [docs]

#2880 Fixed bug: packetfilter configuration did not include AUTH tag when AEAD is on
  srtcore/core.cpp
  srtcore/core.h
  srtcore/fec.cpp
  srtcore/packetfilter.cpp
  srtcore/utilities.h
Labels: Priority: High, Type: Bug, [core]

#2594 [MAINT] Removed reference fields from CPacket pinned to the SRT header
  srtcore/buffer_snd.cpp
  srtcore/channel.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/packet.cpp
  srtcore/packet.h
  srtcore/packetfilter.cpp
  srtcore/queue.cpp
  srtcore/utilities.h
  srtcore/window.h
  test/test_buffer_rcv.cpp
  test/test_crypto.cpp
  test/test_fec_rebuilding.cpp
Labels: Type: Maintenance, [core]

#2883 [test] Added yielding for tests that spawn a thread for connect
  test/test_fec_rebuilding.cpp
  test/test_socket_options.cpp
Labels: Type: Maintenance, [tests]

#2886 [test] Prevent socket from being closed twice in EE test
  test/test_enforced_encryption.cpp
Labels: Type: Maintenance, [tests]

#2889 [core] Fixed POST options setting on a connected group.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#2888 [tests] Added SRTO_MAXBW and SRTO_MININPUTBW to unit tests.
  test/test_socket_options.cpp
Labels: Type: Maintenance, [tests]

#2890 [core] Fixed SRT_SOCKOPT_NPOST when ENABLE_MAXREXMITBW is defined.
  srtcore/core.h
Labels: Type: Bug, [core]

#2891 [core] Fixed the problem of getting option values from groups
  srtcore/api.cpp
  srtcore/group.cpp
  test/test_bonding.cpp
Labels: Type: Bug, [core], [tests]

#2892 [test] Improved tests to avoid all-breaking asserts and inter-test messup
  CMakeLists.txt
  srtcore/api.cpp
  srtcore/logging.h
  test/test_env.h
  test/test_epoll.cpp
  test/test_file_transmission.cpp
  test/test_main.cpp
  test/test_many_connections.cpp
  test/test_reuseaddr.cpp
  test/test_sync.cpp
Labels: Type: Maintenance, [tests]
