Repository Haivision/srt, pull requests merged in 2025-03, with the labels that each got.

#1709 [core] Fixed bug: tsbpd might miss m_bClosing flag setting, flag not always properly set.
  srtcore/core.cpp
Labels: Type: Bug, [core]

#3136 [core] Late-rejection when listener responds with no packet filter
  srtcore/core.cpp
Labels: Type: Bug, [core]

#3139 feat: support OHOS(harmonyOS) system compile
  CMakeLists.txt
  srtcore/sync_posix.cpp
Labels: Type: Enhancement, [build]

#3140 [core] Fixed accidental blocking on sendmsg call
  srtcore/channel.cpp
  srtcore/core.cpp
Labels: Type: Bug, [core]

#3143 [TEST] Fixed tests to avoid mistakes in CI
  test/test_bonding.cpp
  test/test_connection_timeout.cpp
Labels: Type: Maintenance, [tests]

#2677 [FIX] Calculate correctly max payload size per UDP packet
  apps/srt-file-transmit.cpp
  apps/transmitmedia.cpp
  apps/transmitmedia.hpp
  docs/API/API-functions.md
  docs/API/API-socket-options.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/buffer_tools.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/packet.h
  srtcore/packetfilter_api.h
  srtcore/socketconfig.cpp
  srtcore/socketconfig.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  test/test_fec_rebuilding.cpp
  test/test_file_transmission.cpp
  test/test_ipv6.cpp
  test/test_socket_options.cpp
  testing/srt-test-mpbond.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Type: Bug, [core]

#2032 [core] Fixed: closing socket should mark and signal so that srt_connect call can exit immediately
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/queue.cpp
  srtcore/queue.h
  test/test_common.cpp
Labels: Type: Bug, [core]

#2900 [core] Restored logger perf improvements that were blocked up to 1.6.0
  srtcore/api.cpp
  srtcore/logging.cpp
  srtcore/logging.h
Labels: Type: Maintenance, [core]

#2444 Fixed bug: initial state of an epoll eid for listener socket not set
  docs/API/API-functions.md
  docs/API/API-socket-options.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/core.cpp
  srtcore/epoll.cpp
  srtcore/group.cpp
  srtcore/group.h
  test/test_bonding.cpp
  test/test_epoll.cpp
Labels: Type: Bug, [core]

#2753 [core] Fixed overrideSndSeqNo() not clear buffer.
  srtcore/buffer_snd.cpp
  srtcore/buffer_snd.h
  srtcore/core.cpp
  srtcore/group.cpp
Labels: Type: Bug, [core]

#3009 [core] New moving average value for sent/recv rates over last second
  srtcore/buffer_tools.cpp
  srtcore/buffer_tools.h
  srtcore/core.cpp
  srtcore/stats.h
Labels: Type: Enhancement, [core]

#1690 [core] Fixed final HS dispatch to already accepted socket with the lack of listener
  srtcore/core.cpp
  srtcore/core.h
  srtcore/queue.cpp
  srtcore/queue.h
Labels: Type: Bug, [core]

#3090 [BUG] Fixed desynch between deleted socket and unsubscribing from epoll (misleading log flood)
  srtcore/api.cpp
  srtcore/core.cpp
  srtcore/epoll.cpp
  srtcore/epoll.h
  test/test_bonding.cpp
Labels: Priority: Low, Type: Bug, [core]

#3103 [API] Set up length limits for STREAMID and PACKETFILTER in the API
  srtcore/socketconfig.h
  srtcore/srt.h
Labels: Type: Maintenance, [API]

#2606 Added messages for access control rejection messages
  srtcore/access_control.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  testing/srt-test-live.cpp
  testing/testmedia.cpp
Labels: Type: Enhancement, [API]

#2595 [BUG] Fixed the use of the right error constant
  CMakeLists.txt
  apps/apputil.hpp
  apps/socketoptions.hpp
  apps/srt-file-transmit.cpp
  apps/srt-live-transmit.cpp
  apps/srt-tunnel.cpp
  apps/statswriter.cpp
  apps/statswriter.hpp
  apps/transmitmedia.cpp
  apps/transmitmedia.hpp
  common/devel_util.h
  docs/API/API-functions.md
  examples/sendmsg.cpp
  srtcore/api.cpp
  srtcore/api.h
  srtcore/buffer_rcv.cpp
  srtcore/core.cpp
  srtcore/core.h
  srtcore/crypto.cpp
  srtcore/epoll.cpp
  srtcore/epoll.h
  srtcore/fec.cpp
  srtcore/group.cpp
  srtcore/group.h
  srtcore/handshake.cpp
  srtcore/handshake.h
  srtcore/queue.cpp
  srtcore/queue.h
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  srtcore/tsbpd_time.cpp
  srtcore/udt.h
  test/test_connection_timeout.cpp
  test/test_enforced_encryption.cpp
  test/test_epoll.cpp
  test/test_fec_rebuilding.cpp
  test/test_file_transmission.cpp
  test/test_ipv6.cpp
  test/test_main.cpp
  testing/srt-test-file.cpp
  testing/srt-test-live.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Type: Maintenance, [core]

#3146 [MAINT] Removed compile option dependencies in the API.
  apps/socketoptions.hpp
  srtcore/common.cpp
  srtcore/common.h
  srtcore/socketconfig.cpp
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  testing/srt-test-live.cpp
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Type: Maintenance, [apps], [core]

#2527 Logic refax: new rules for the receiver buffer and TSBPD
  srtcore/api.h
  srtcore/buffer_rcv.cpp
  srtcore/buffer_rcv.h
  srtcore/common.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/utilities.h
  test/test_buffer_rcv.cpp
Labels: Type: Maintenance, [core]

#1226 Updated balancing documentation
  docs/API/API-functions.md
  docs/API/API.md
  docs/features/bonding-intro.md
  docs/features/socket-groups.md
Labels: Type: Maintenance, [docs]

#2747 [core][apps] Implemented the socket close reason feature
  docs/API/API-functions.md
  srtcore/api.cpp
  srtcore/api.h
  srtcore/atomic_clock.h
  srtcore/core.cpp
  srtcore/core.h
  srtcore/group.cpp
  srtcore/packet.cpp
  srtcore/queue.cpp
  srtcore/srt.h
  srtcore/srt_c_api.cpp
  testing/testmedia.cpp
Labels: Type: Enhancement, [core], [API]

#3150 [test] Fixing ConnectNonBlocking: delay listen to prevent connection from being established too early
  test/test_bonding.cpp
Labels: Type: Maintenance, [tests]
