Repository Haivision/srt, pull requests merged in 2025-02, with the labels that each got.

#3105 [core] Fix stalled connection that should break after rogue NAK/ACK reception
  scripts/srt-proxy.py
  srtcore/core.cpp
Labels: Priority: Medium, Type: Bug, [core]

#3110 Added support for Windows on Arm64
  scripts/win-installer/README.md
  scripts/win-installer/build-win-installer.ps1
  scripts/win-installer/install-openssl.ps1
  scripts/win-installer/libsrt.nsi
  srtcore/window.cpp
Labels: Type: Maintenance, [build]

#3108 [apps] FIX srt-live-transmit stops listening after SRT disconnect #2997...
  apps/srt-live-transmit.cpp
  apps/transmitbase.hpp
  apps/transmitmedia.cpp
Labels: Type: Bug, [apps]

#3089 [core] Fixed socket options that are not allowed to be set on a group.
  docs/API/API-socket-options.md
  srtcore/group.cpp
  srtcore/srt.h
  test/test_bonding.cpp
Labels: Type: Bug, [core]

#3113 Fix Windows installers
  scripts/win-installer/README.md
  scripts/win-installer/build-win-installer.ps1
  scripts/win-installer/install-openssl.ps1
  scripts/win-installer/libsrt.nsi
Labels: Type: Maintenance, [build]

#3112 [BUILD] Added deprecation warning for Windows+PThreads configuration
  CMakeLists.txt
Labels: Type: Maintenance, [build]

#3117 [build] Fix build failure with static openssl due to name conflict
  CMakeLists.txt
  docs/build/build-options.md
  scripts/ShowProjectConfig.cmake
  scripts/build-windows.ps1
  srtcore/srt_shared.rc
Labels: Type: Bug, [build]

#3086 [tests] Extending socket options test to group options.
  .travis.yml
  srtcore/group.cpp
  srtcore/socketconfig.h
  test/test_bonding.cpp
  test/test_env.h
  test/test_socket_options.cpp
Labels: Type: Enhancement, [tests]

#3125 [doc] Documentation fixes for socket options
  docs/API/API-socket-options.md
Labels: Type: Maintenance, [docs]

#3124 [MAINT] Fixed Sonarqube configuration
  .github/workflows/cxx11-ubuntu.yaml
  sonar-project.properties
Labels: Type: Maintenance, [build]

#3126 [apps] Fixed correct bind address selection for windows multicast
  apps/transmitmedia.cpp
  scripts/build-windows.ps1
  testing/testmedia.cpp
  testing/testmedia.hpp
Labels: Type: Bug, [apps]
